
table
{
    border-collapse: collapse;
    border-spacing: 0;
	font-size:13px;
}

td
{
    vertical-align: top;
}

strong, b{
    font-weight: 400;
    font-weight: bold; /* font-bold */
}



table.v-middle td{
    vertical-align: middle;
}

.grey-result-table{
    border-top: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5;
    margin: 10px 0 10px  0;
}

.grey-result-table tr.head td{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
    .grey-result-table td{
        border-bottom: 1px solid #a5a5a5;
        border-right: 1px solid #a5a5a5;
        line-height: 16px;
        padding: 1px 5px 3px;

    }
    .grey-result-table th{
        background: #bfc0bf;
        text-align: left;
        padding: 2px 5px;
        font-weight: bold; /* font-bold */
        border-bottom: 1px solid #a5a5a5;
        border-right: 1px solid #a5a5a5;
    }

    .grey-result-table th.al_center {
        text-align: center;
    }
    .grey-result-table td.center{
        text-align: center;
        vertical-align: middle;
    }
    .grey-result-table td.red{
        text-align: center;
        background: #ea212d;
        color: #fff;
        cursor: pointer;
        padding: 0;
    }
    .grey-result-table sup{
        font-size: 9px;
        line-height: 9px;
    }
