/* header */
.header {
    height: 73px;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
}
.header__main-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.header__logo {
    position: absolute;
    left:51px;
    top: 21px;
    width: 121px;
    height: 50px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.nav__link {
    color: #ffffff;
    font-size: 14px;
    line-height: 73px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
    text-decoration: underline;
    color: #ffffff;
}
.header__nav {
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    max-width: 786px;
    margin-left: 16.7%;
    
    -webkit-flex: 0 1 786px;
    -ms-flex: 0 1 786px;
    flex: 0 1 786px;
}
.header__wrap {
    -webkit-flex: 0 1 320px;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
    
    height: 73px;
    display: inline-block;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.header__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    line-height: 73px;
    padding-right: 6%;
    width: 180px;
}
.header__fb {
    background-image: url("../img/fb-.png");
    background-position: 25px 27px;
    background-repeat: no-repeat;
    background-size: 8px; 8px;
    cursor: pointer;
    display: inline-block;
    height: 73px;
    width: 62px;
    margin-right: 6%;
}
.header__fb:hover {
    opacity: 0.7;
}
.header__en {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    height: 73px;
    line-height: 73px;
    text-decoration: none;
    padding-right: 14%;
    display: none;
}
.navbar-toggler {
    height: 28px;
    width: 28px;
    padding: 0px;
    cursor: pointer;
    border: 0px;
    border-radius: 0;
    margin-left: 11px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: absolute;
    display: none;
}
.header__nav-phone {
    display: none;
}

/* footer */
.footer {
    padding-top: 146px;
    background-color: #ffffff;
    padding-bottom: 30px;
}
.footer__wrap {
    text-align: center;
}
.footer__item {
    font-size: 16px;
    line-height: 43px;
    color: #869ea9;
    display: inline-block;
}
.footer__vacancy:hover,
.footer__vacancy:active,
.footer__vacancy:focus {
    text-decoration: underline;
    color: #869ea9;
}
.footer__vacancy {
    text-decoration: none;
}
.footer__item--center {
    margin-left: 40px;
    margin-right: 40px;
}
.footer__link {
    text-decoration: none;
    color: #869ea9;
}
.footer__link:hover,
.footer__link:active,
.footer__link:focus {
    text-decoration: underline;
    color: #869ea9;
}
.footer__link:hover {
    text-decoration: underline;
    color: #869ea9;
}


@media screen and (max-width: 1400px) {

    .header__phone {
        font-size: 14px;
        font-weight: 400;
        padding-right: 3%;
        width: 150px;
    }
    .header__logo {
        left: 20px;
        width: 110px;
    }
    .header__nav {
        margin-left: 14%;
    }
    .header__en {
        padding-right: 14%;
    }
    .header__fb {
        margin-right: 3%;
    }
    
}

@media screen and (max-width: 1200px) {
    .header__phone {
        display: none;
    }
    .header__nav {
        max-width: 1100px;
        margin-left: 0px;
        padding-left: 17%;
        -webkit-flex: 0 1 1000px;
        -ms-flex: 0 1 1000px;
        flex: 0 1 1000px;
    }
    .header__wrap {
        -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px;
    }
}

@media screen and (max-width: 992px) {
    /* header */
    .header {
        background-color: #000000;
        height: auto;
        min-height: 40px;
    }
    .header__logo {
        left:0px;
        right: 0px;
        margin: auto;
        top: 9px;
        width: 84px;
        height: 50px;
    }
    .header__wrap {
        display: block;
        height: auto;
    }
    .navbar-toggler {
        display: block;
        left: 6px;
        top: 0px;
        padding: 0;
        position: absolute;
        width: 40px;
        height: 40px;
        border: 0 none;
        border-radius: 0;
        cursor: pointer;
        margin: 0px;
        outline: 0px !important;
    }
    .header__main-wrap {
        display: block;
    }

    .header .collapsed {
        background-image: url("../img/open.png");
        background-position: center center;
        background-size: 38% auto;
        
    }
    .navbar-toggler {
        background-image: url("../img/close.png");
        background-position: center center;
        background-size: 38% auto;
    }
    .header__fb {
        background-position: 16px 11px;
        height: 40px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
    }
    .header__nav-phone {
        display: block;
    }
    .header__nav {
        padding-left: 27px;
        padding-right: 27px;
        padding-top: 52px;
        text-align: center;
        display: block !important;
    }
    .collapse {
        display: none !important;
        flex: none;
    }
    .collapse.in {
        display: block !important;
    }
    .nav__link {
        font-size: 12px;
        font-weight: 400;
        line-height: 36px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .nav__link:hover,
    .nav__link:active,
    .nav__link:focus {
        color: #6dcb6d;
        text-decoration: none;
    }
    .header__nav-phone {
        border-top: solid 1px #2c3538;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        margin-top: 7px;
        padding-bottom: 29px;
        padding-top: 16px;
    }
    /* ------ */
    /* footer */
    .footer {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .footer__item {
        font-size: 12px;
        line-height: 22px;
        display: block;
    }
    /* ------ */
}