.body__wrap {
    background-color: #ffffff;
    min-width: 320px;
    width: 100%;
}
/* banner */
.banner {
    height: 485px;
    position: relative;
    overflow: hidden;
    background-color: #f6a623;
}
.banner__title {
    font-family: 'PT Serif Caption', serif;
    font-size: 56px;
    font-weight: 400;
    font-style: italic;
    line-height: 73px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 172px;
    left: 0px;
    right: 0px;
}

	.parallax-image.skrollable-between {
		display:block;
	}
	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}
	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}
	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}
	.skrollr .gap {
		background:transparent !important;
	}
	.gap-50 {
		height:50%;
	}
	.gap-100 {
		height:100%;
	}
.bcg {
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image:url('../img/bg1.jpg');
    background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
}
#parallax2 .bcg {
    background-image:url('../img/img1.jpg');
}
#parallax3 .bcg {
    background-image:url('../img/img2.jpg');
}
#parallax4 .bcg {
    background-image:url('../img/img3.jpg');
}
#parallax9 .bcg {
    background-image:url('../img/bg3.jpg');
}
/* ------- */
/* caption */
.squares {
    background-image: url("../img/3q.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 17px;
    width: 38px;
    margin: auto;
}
.squares--caption {
    margin-bottom: 56px;
}
.caption {
    position: relative;
     z-index: 2;
}
.caption-1 {
    padding-bottom: 44px;
}
.caption .content {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}
.caption-1 .content {
    padding-top: 77px;
}
.caption .content-1 {
    top: -54px; 
}
.caption__title {
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #869ea9;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 88px;
}
.caption__decor {
    width: 68px;
    height: 2px;
    background-color: #869ea9;
    margin: auto;
}
.caption__text {
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 34px;
    padding-left: 17.3%;
    padding-right: 17.3%;
}
.caption__title-wrap {
    margin-bottom: 59px;
}
.caption__bold {
    font-weight: 700;
}
.caption__underline {
    text-decoration: underline;
    font-size: 25px;
}
.caption__text--last {
    margin-bottom: 0px;
}
.displayBlockDesctop {
    display: block;
}
/* ------- */
/* caption-2 */
.caption-2 {
    z-index: 2;
}
.caption__title--small {
    font-size: 18px;
    line-height: 24px;
}
.caption--pres .caption__title-wrap {
    margin-bottom: 68px;
}
.caption--pres .content {
    position: relative;
    margin: auto 46px;
    margin-bottom: -45px;
}
.caption--pres__parallax-wrap {
    height: 875px;
    overflow: hidden;
    position: relative;
}
.caption-wrap {
    position: relative;
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    top: -158px;
    padding-left: 15.1%;
    padding-right: 15.1%;
}
.caption--pres .caption-wrap {
    padding-bottom: 0px;
}
.caption__text--captionWrap {
    padding-top: 31px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 66px;
}
.caption-wrap__text {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
/* ------- */
/* presentation */
.presentation {
    background-color: #aa9fca;
    height: 1195px;
    z-index: 3;
    position: relative;
} 
.caption__title-wrap--presentation {
    margin-bottom: 52px;
}
.caption__title-wrap--presentation .caption__title {
    color: #ffffff;
    padding-top: 92px;
}
.caption__title-wrap--presentation .caption__decor {
    width: 40px;
    background-color: #ffffff;
}
.caption__text--presentation {
    color: #ffffff;
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 73px;
}
.presentation__link {
    color: #ffffff;
    font-weight: 700;
}
.presentation__link:hover {
    text-decoration: none;
    color: #ffffff;
}
.presentation__img-wrap {
    position: relative;
}
.presentation__img {
    background-repeat: no-repeat;
   -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 1000px;
    position: absolute;
    top: 200px;
    opacity: 0;
}
.presentation__img-1 {
    background-image: url("../img/lgs.png");
    width: 42.9%;
    left: 43.4%;
    margin-right: 20%;
    right: 20%;
}
.presentation__img-2 {
    background-image: url("../img/lgs2.png");
    width: 42.9%;
    left: 13.7%;
    margin-right: 20%;
    right: 20%;
    top: 260px;
}
/* ------- */
/* caption-3 */
.caption-3 {
    padding-top: 124px;
}
.caption-3 .content {
    margin-bottom: -91px;
}
.caption-3 .caption-wrap {
    top: -175px;
}
.caption-wrap__text-2 {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 31px;
}
.caption-3 .caption-wrap {
    padding-top: 74px;
}
.caption__green {
    color: #3FB43F;
}
.caption-wrap__text-2--italic {
    font-size: 18px;
    line-height: 24px;
    font-family: 'PT Serif Caption', serif;
    font-style: italic;
    margin-bottom: 50px;
}
.caption-wrap__text--margins {
    margin-bottom: 69px;
    margin-top: 69px;
}
.caption-wrap__text--margins--last {
    margin-bottom: 0px;
}
/* ------- */
/* caption-4 */
.caption-4 {
    padding-top: 0px;
}
.caption-4 .content {
    padding-bottom: 92px;
}
.caption-4 .caption--pres__parallax-wrap {
    height: 825px;
}
.caption-4 .caption-wrap {
    top: -114px;
    padding-top: 65px;
}
.squares--caption-4 {
    margin-top: 86px;
    margin-bottom: 86px;
}
.caption-wrap__text--caption-4 {
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.parallax4__title {
    position: absolute;
    color: #ffffff;
    top: 554px;
    left: -76px;
    font-size: 64px;
    line-height: 87px;
    font-weight: 700;
    opacity: 0;
}
/* ------- */
/* caption-5 */
.caption-5 {
    z-index: 3;
    position: relative;
}
.caption-5 .content {
    background-color: #f6a623;
    height: auto;
    padding-top: 107px;
    padding-bottom: 40px;
    margin-left: 49px;
    margin-right: 49px;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 162px;
}
.caption-5__icon {
    width: 50px;
    height: 50px;
    background-image: url("../img/growup.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin: auto;
    margin-bottom: 58px;
}
.caption-5__text {
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
}
/* ------- */
/* portfolio */
.portfolio {
    padding-bottom: 48px;
    padding-top: 27px;
    padding-right: 49px;
    padding-left: 49px;
}
.portfolio__link {
    color: #869ea9;
    text-decoration: underline;
}
.portfolio__link:hover,
.portfolio__link:focus,
.portfolio__link:active {
    color: #869ea9;
    text-decoration: none;
}
/* ------- */
/* banner-2 */
#parallax8 {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
}
.banner-2 {
    height: 775px;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 400px;
}
.banner-2 .banner-2__wrap {
    background-color: #aba0cb;
    bottom: -137px;
    left: 50px;
    position: absolute;
    right: 50px;
    top: 263px;
    opacity: 0;
    z-index: 2;
}
#banner2__trigger {
    display: block;
}
.banner-2__title {
    font-size: 36px; 
    line-height: 50px;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    font-family: 'PT Serif Caption', serif;
    text-align: center;
    margin-bottom: 18px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 116px;
}
.banner-2__text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    padding-left: 24%;
    padding-right: 24%;
    text-align: center;
    margin-bottom: 43px;
}
.banner-2__thanks {
    display: none;
    
}
.banner-2__thanks-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 84px;
    text-align: center;
    padding-top: 234px;
}
.banner-2__thanks-ok {
    background-color: #ffffff;
    border: 0 none;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 60px;
    line-height: 60px !important;
    margin: auto;
    text-align: center;
    width: 300px;
    text-decoration: none;
}
.banner-2__thanks-ok:hover,
.banner-2__thanks-ok:active,
.banner-2__thanks-ok:focus {
    opacity: 0.7;
    color: #000000;
    text-decoration: none;
}


.content__input {
    font-family: 'Open Sans', sans-serif;
    height: 65px;
    background: none;
    border: 0px;
    border-bottom: 3px solid #ffffff !important;
    padding-left: 30px;
    padding-right: 30px;
    width: 740px;
    display: inline-block;
    line-height: 65px;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    background-repeat: no-repeat;
    margin-bottom: 41px;
    box-shadow: none !important;
}

.content__button {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px !important;
    text-align: center;
    height: 60px;
    width: 300px;
    display: block;
    margin: auto;
    border: 0px;  
    cursor: pointer;
}
.content__button:hover {
    opacity: 0.7;
}
.content__button:active {
    padding-left: 6px;
    padding-right: 6px;
}
.content__button:focus,
.content__button:active {
    outline: inherit;
}
.content__input:focus,
.content__input:active {
    outline: inherit;
}
.content__form {
    position: relative;
    text-align: center;
}
.data-email-error-dialog {
    background-color: #f9f673;
    bottom: 0px;
    color: #012346;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    left: 0;
    line-height: 22px;
    margin: auto;
    padding: 19px 30px;
    position: absolute;
    right: 0;
    width: 550px;
    z-index: 1;
    display: none;
}
.form-error {
    display: none !important;
}

/* ------- */
/* banner-3 */
.banner-3 {
    height: 775px;
}
.banner-3 .banner-2__wrap {
    background-color: #7dcc7f;
    
}
.banner-3 .banner-2__title {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 150px;
    margin-bottom: 23px;
}
.banner-3 .banner-2__text {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 117px;
}
.banner-3__button {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    display: block;
    margin: auto;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.banner-3__button:hover,
.banner-3__button:active,
.banner-3__button:focus {
    opacity: 0.7;
    color: #000000;
    text-decoration: none;
}
.send {
    display: none;
}
.banner-3 .banner-2__title--send {
    padding-top: 115px;
    margin-bottom: 40px;
}
.send__wrap {
    padding-left: 6%;
    padding-right: 2%;
    font-size: 0px;
}
.send__input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    box-shadow: none !important;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 350px;
    max-width: 400px;
    margin-right: 45px;
    max-width: 600px;
}
.send__input--opacity {
    opacity: 0;
}
.send__input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 56px;
    text-align: left;
    font-weight: 400;
}
.send__input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 56px;
    text-align: left;
    font-weight: 400;
}
.send__input:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 56px;
    text-align: left;
    font-weight: 400;
}
.send__input:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 56px;
    text-align: left;
    font-weight: 400;
}
.data-send-error-dialog {
    text-align: center;
    bottom: 143px;
}
.banner-3 .content__button {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 143px;
    margin: auto;
}

@media screen and (max-width: 1400px) {

    .send__input {
        width: 280px;
    }
    
}
@media screen and (max-width: 1200px) {
/*
    .banner__title {
        font-size: 34px;
        line-height: 46px;
    }
*/
    
    .caption-2 .caption__text {
        font-size: 21px;
        line-height: 30px;
    }
    .send__input {
        font-size: 21px;
        height: 46px;
        line-height: 46px;
        margin-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 240px;
        max-width: 400px;
        margin-right: 25px;
    }
    
    .send__input::-webkit-input-placeholder {
        font-size: 21px;
        line-height: 46px;
    }
    .send__input::-moz-placeholder {
        font-size: 21px;
        line-height: 46px;
    }
    .send__input:-moz-placeholder {
        font-size: 21px;
        line-height: 46px;
    }
    .send__input:-ms-input-placeholder {
        font-size: 21px;
        line-height: 46px;
    }
}
@media screen and (max-width: 992px) {
    /* banner */
    .banner {
        padding-top: 40px;
        height: 382px;
    }
    .banner__title {
        font-size: 36px;
        line-height: 48px;
        padding-left: 3%;
        padding-right: 3%;
        top: 148px;
    }
    /* caption */
    .caption-1 {
        padding-bottom: 0px;
    }
    .caption .content-1 {
        top: -31px;
        padding-top: 20px;
    }
    .caption .content-1 {
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 31px;
    }
    .squares {
        width: 21px;
    }
    .squares--caption {
        margin-bottom: 15px;
    }
    .caption__text {
        font-size: 14px;
        line-height: 19px;
        padding-left: 4%;
        padding-right: 5.8%;
        margin-bottom: 19px;
    }
    /* caption-2 */
    .caption-2 .content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .caption--pres__parallax-wrap {
        height: 510px;
    }
    .caption-2 .caption-wrap {
        margin-left: 17px;
        margin-right: 17px;
        top: -44px;
    }
    .caption-2 .caption__text {
        font-size: 14px;
        line-height: 19px;
        padding: 0px;
    }
    .caption-2 .caption-wrap {
        padding-left: 3.9%;
        padding-right: 3.9%;
        padding-top: 20px;
        padding-bottom: 45px;
    }
    .caption-2 .caption-wrap__text {
        font-size: 12px;
        line-height: 17px;
    }
    /* presentation */
    .presentation {
        height: auto;
    }
    .caption__title {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .caption__decor {
        width: 21px !important;
        height: 1px;
        margin-bottom: 0px;
    }
    .caption__title-wrap--presentation .caption__title {
        padding-top: 46px;
    }
    .caption__title-wrap--presentation {
        margin-bottom: 32px;
    }
    .caption__text--presentation {
        padding-left: 8.2%;
        padding-right: 8.2%;
    }
    .presentation__img-wrap {
        height: 508px;
    }
    .presentation__img {
        opacity: 1 !important;
        height: 300px;
    }
    .presentation__img-1 {
        top: 23px !important;
        width: 240px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .presentation__img-2 {
        left: 0;
        margin: auto;
        right: 0;
        top: 170px !important;
        width: 334px;
    }
    /* caption-3 */
    .caption-3 {
        padding-top: 57px;    
    }
    .caption-3 .content {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .caption-3 .caption--pres__parallax-wrap {
        height: 502px;
    }
    .caption-3 .caption-wrap {
        top: -45px;
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 22px;
        padding-left: 4.2%;
        padding-right: 4.2%;
        padding-bottom: 0px;
    }
    .caption-3 .caption-wrap__text {
        font-size: 12px;
        line-height: 17px;
    }
    .caption-3 .caption-wrap__text {
        margin-bottom: 20px;
    }
    .caption-3 .caption-wrap__text-2--italic {
        line-height: 15px;
        margin-bottom: 33px;
    }
    .caption-wrap__text--margins {
        margin-top: 0px;
    }
    .caption-3 .caption__decor {
        margin-bottom: 25px;
    }
    .caption-3 .caption-wrap__text--time {
        margin-bottom: 58px;
    }
    .caption-3 .caption__decor--last {
        margin-top: 33px;
        margin-bottom: 30px;
    }
    .caption-3 .caption-wrap__text--margins--last {
        margin-bottom: 0px;
    }
    /* caption-4 */
    .caption-4 {
        padding-top: 0px;
    }
    .caption-4 .content {
        padding-bottom: 0px;
    }
    .caption-4 .caption--pres__parallax-wrap {
        height: 476px;
    }
    .parallax4__title {
        opacity: 1;
        left: 29px;
        top: 340px;
        font-size: 40px;
        line-height: 54px;
    }
    .caption-4 .caption-wrap {
        padding-top: 19px;
    }
    .squares--caption-4 {
        margin-bottom: 25px;
        margin-top: 38px;
    }
    .caption-4 .caption-wrap__text--caption-4 {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 0px;
    }
    /* caption-5 */
    .caption-5 .content {
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 38px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 48px;
    }
    .caption-5__icon {
        width: 30px;
        height: 30px;
        margin-bottom: 27px;
    }
    .caption-5__text {
        font-size: 14px;
        line-height: 19px;
    }
    .caption-5 {
        
    }
    /* portfolio */
    .portfolio {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .portfolio .caption__title {
        padding-top: 52px;
        margin-bottom: 17px;
    }
    .portfolio .caption__title-wrap {
        margin-bottom: 51px;
    }
    /* ------ */
    /* banner-2 */
    .banner-2 {
        height: 375px;
        min-height: auto;    
    }
    .banner-2 .banner-2__wrap {
        bottom: 22px;
        left: 17px;
        opacity: 1 !important;
        position: absolute;
        right: 17px;
        top: 23px;
    }
    .banner-2__title {
        font-size: 20px;
        line-height: 27px;
        padding-top: 32px;
        margin-bottom: 7px;
    }
    .banner-2 .displayBlockMobile {
        display: block;
    }
    .banner-2__text {
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        padding-left: 12%;
        padding-right: 12%;
        margin-bottom: 22px;
    }
    .content__input {
        display: block;
        margin: auto;
        width: 78%;
        font-size: 20px;
        line-height: 34px;
        height: 34px;
        border-bottom: 1px solid #ffffff !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 21px;
    }
    .content__button {
        height: 43px;
        font-size: 14px;
        line-height: 19px;
        width: 90%;
        max-width: 400px;
    }
    .banner-2__thanks-text {
        font-size: 20px;
        line-height: 27px;
        padding-top: 80px;
        margin-bottom: 37px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .data-email-error-dialog {
        font-size: 11px;
        line-height: 16px;
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 14px;
        padding-bottom: 14px;
        max-width: 400px;
    }
    .banner-2__thanks-ok {
        height: 43px;
        line-height: 43px !important;
        width: 90%;
        font-size: 14px;
        max-width: 400px;
    }
    .content__input::-webkit-input-placeholder {
        font-size: 20px;
        line-height: 34px;
    }
    .content__input::-moz-placeholder {
        font-size: 20px;
        line-height: 34px;
    }
    .content__input:-moz-placeholder {
        font-size: 20px;
        line-height: 34px;
    }
    .content__input:-ms-input-placeholder {
        font-size: 20px;
        line-height: 34px;
    } 
    /* ------ */
    /* banner-3 */
    .banner-3 {
        height: 375px;
        min-height: auto;
    }
    .banner-3 .banner-2__title {
        padding-top: 32px;
        margin-bottom: 8px;
    }
    .banner-3 .banner-2__text {
        margin-bottom: 39px;
    }
    .banner-3__button {
        font-size: 14px;
        height: 43px;
        line-height: 43px;
        max-width: 400px;
        width: 90%;
    }
    /* ------ */
    .send__wrap {
        padding-right: 0px;
        padding-left: 0px;
    }
    .send__input {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
        width: 78%;
        max-width: none;
    }
    .send__input::-webkit-input-placeholder {
        line-height: 30px;
        font-size: 16px;
    }
    .send__input::-moz-placeholder {
        line-height: 30px;
        font-size: 16px;
    }
    .send__input:-moz-placeholder {
        line-height: 30px;
        font-size: 16px;
    }
    .send__input:-ms-input-placeholder {
        line-height: 30px;
        font-size: 16px;
    }
    .banner-3 .content__button {
        bottom: 16px;
        
    }
    .banner-3 .data-email-error-dialog {
        bottom: 16px;
        max-width: 400px;
    }
    .white {
        height: 56px;
    }
    /* ------ */
    
}
@media screen and (max-width: 544px) {
    .banner {
        height: 191px;
    }
    .banner__title {
        font-size: 18px;
        line-height: 24px;
        top: 74px;
    }
    
    .caption--pres__parallax-wrap {
        height: 255px;
    }
    
    .caption-3 .caption--pres__parallax-wrap {
        height: 251px;
    }
    
    .caption-4 .caption--pres__parallax-wrap {
        height: 238px;
    }
    
    .parallax4__title {
        opacity: 1;
        left: 29px;
        top: 149px;
        font-size: 20px;
        line-height: 27px;
    }
}
@media screen and (max-width: 370px) {
    .presentation__img-1 {
        width: 190px;
    }
    .presentation__img-2 {
        width: 284px;
        top: 140px !important;
    }
    .presentation__img-wrap {
        height: 438px;
    }
    
}