/* header */
.header {
    height: 73px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.header__logo {
    position: absolute;
    left:51px;
    top: 21px;
    width: 121px;
    height: 50px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.body__wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../img/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-width: 320px;
    min-height: 400px;
    overflow: hidden;
}
.text {
    left: 10.5%;
    position: absolute;
    top: 33.1%;
}
.text__title {
    font-size: 48px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 37px;
}
.text__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding-right: 40px;
    text-decoration: none;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-size: 14px 8px;
    background-position: 111px 10px;
    padding-left: 2px;
    text-transform: uppercase;
}
.text__link:hover {
    opacity: 0.7;
}