/* dop-caption */
.dop-caption {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 30px;
  padding-bottom: 14px; }

.dop-caption__p {
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 17px; }

.dop-caption__img-wrap {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.dop-caption__img {
  width: 100%;
  height: auto; }

.dop-caption__img-wrap-icon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  background-image: url("../img/default/spritesheet.png");
  background-position: 0px -164px; }

.dop-caption__title {
  font-size: 15px;
  line-height: 18px;
  font-family: "HelveticaNeue-bold", sans-serif;
  letter-spacing: 0.7px;
  padding-top: 42px;
  color: #000000;
  margin-bottom: 11px; }

.dop-caption__item {
  font-size: 15px;
  letter-spacing: 1px;
  color: #000000;
  line-height: 17px;
  margin-bottom: 0px;
  position: relative;
  padding-left: 37px; }

.dop-caption__item:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000000;
  border-radius: 50%;
  left: 12px;
  top: 6px; }

.dop-caption__list {
  margin-bottom: 21px; }

.dop-caption__img-wrap:last-child {
  margin-bottom: 32px; }

/* spetsifikatsiya--dop */
.spetsifikatsiya--dop {
  padding-top: 0px; }

.spetsifikatsiya--dop .spetsifikatsiya__item-link {
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  border-bottom: 0px; }

.spetsifikatsiya--dop__row {
  padding-left: 19px;
  padding-right: 19px;
  border-bottom: 1px solid #cccccc;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.spetsifikatsiya__item-link .spetsifikatsiya--dop__row {
  border-bottom: 0px; }

.spetsifikatsiya--dop__item {
  padding-top: 14px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 17px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--dop__item--small {
  padding-left: 15px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--dop__item--header {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-family: "HelveticaNeue-bold", sans-serif;
  letter-spacing: 1px; }

/*# sourceMappingURL=dopoborudovanie.css.map */
