
@font-face {
      font-family: 'HelveticaNeue-medium';
      src: url('../fonts/helveticaneuecyr-medium.eot');
      src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), url('../fonts/helveticaneuecyr-medium.woff') format('woff'), url('../fonts/helveticaneuecyr-medium.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'HelveticaNeue-bold';
      src: url('../fonts2/helveticaneuecyr-bold.eot');
      src: url('../fonts2/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), url('../fonts2/helveticaneuecyr-bold.woff2') format('woff2'), url('../fonts2/helveticaneuecyr-bold.woff') format('woff'), url('../fonts2/helveticaneuecyr-bold.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'HelveticaNeue-thin';
      src: url('../fonts/helveticaneuecyr-thin.eot');
      src: url('../fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-thin.woff2') format('woff2'), url('../fonts/helveticaneuecyr-thin.woff') format('woff'), url('../fonts/helveticaneuecyr-thin.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'HelveticaNeue-light';
      src: url('../fonts2/helveticaneuecyr-light.eot');
      src: url('../fonts2/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), url('../fonts2/helveticaneuecyr-light.woff2') format('woff2'), url('../fonts2/helveticaneuecyr-light.woff') format('woff'), url('../fonts2/helveticaneuecyr-light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}


body {
    line-height: 1;
    font-family: 'HelveticaNeue-light', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
