/* footer */
.footer {
  position: relative; }

.footer__links-item {
  display: block; }

.footer__links-link {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 1px;
  font-family: "HelveticaNeue-bold", sans-serif;
  background-color: #ffffff;
  padding-left: 19px;
  padding-right: 45px;
  border-bottom: 1px solid #cccccc;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  white-space: normal;
  display: block;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 1px solid #414141; }

.footer__links-link:hover {
  text-decoration: none;
  color: #ffffff; }

.footer__links-link:after {
  content: "";
  position: absolute;
  background-image: url("../img/default/spritesheet.png");
  background-position: -16px -147px;
  width: 8px;
  height: 12px;
  right: 18px;
  top: 50%;
  margin-top: -6px; }

/* social */
.social {
  background-color: #000000;
  padding-top: 27px;
  padding-bottom: 27px; }

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("../img/default/spritesheet.png");
  background-color: #000000;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.social__link:hover {
  opacity: 0.7; }

.social__link--fb {
  background-position: -132px -64px; }

.social__link--yt {
  background-position: -42px -90px; }

.social__link--vk {
  background-position: -74px -90px; }

.social__link--tw {
  background-position: -132px 0px; }

.social__link--inst {
  background-position: -132px -32px; }

/* info */
.info {
  background-color: #000000;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px; }

.info__link {
  font-size: 11px;
  line-height: 29px;
  font-family: "HelveticaNeue-bold", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: relative;
  padding-left: 3px;
  padding-right: 3px; }

.info__link:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 11px;
  top: 1px;
  right: -3px;
  background-color: #ffffff; }

.info__link:last-child:after {
  display: none; }

.info__link:hover {
  color: #ffffff;
  text-decoration: underline; }

/* copy */
.copy {
  background-color: #000000;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 21px; }

.copy__text {
  font-size: 9px;
  line-height: 16px;
  color: #939393;
  text-align: center;
  letter-spacing: 0.4px; }

.copy__link {
  color: #939393; }

.copy__link:hover {
  color: #939393;
  text-decoration: underline; }

.footer__goUp {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 37px;
  bottom: 51px;
  background-image: url("../img/default/spritesheet.png");
  background-position: 0px 0px;
  opacity: 0.9;
  cursor: pointer; }

/* retina sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }

        
    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;  
    }
              
}
@media only screen and (-webkit-min-device-pixel-ratio: 4),
only screen and (min--moz-device-pixel-ratio: 4),
only screen and (-o-min-device-pixel-ratio: 4/1),
only screen and (min-device-pixel-ratio: 4),
only screen and (min-resolution: 360dpi),
only screen and (min-resolution: 4dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }

    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
}