.body__wrap {
  max-width: 992px;
  min-width: 320px; }

.header {
  background: #e60c12;
  background: -moz-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: -webkit-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: linear-gradient(to right, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  min-height: 76px;
  position: relative; }

.logo {
  width: 163px;
  height: 40px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 18px;
  margin: auto;
  background-image: url("../img/hino-logo-gor.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

.dillers {
  width: 58px;
  text-align: right;
  font-size: 0px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: 0px;
  right: 0px; }

.dillers:hover {
  opacity: 0.7; }

.dillers__icon {
  width: 14px;
  height: 20px;
  margin-top: 20px;
  margin-right: 26px;
  background-image: url("../img/default/spritesheet.png");
  background-position: 0px -125px;
  display: inline-block; }

.dillers__caption {
  font-size: 9px;
  text-transform: uppercase;
  line-height: 11px;
  margin-top: 5px;
  margin-right: 12px;
  color: #ffffff;
  letter-spacing: 1px;
  display: inline-block; }

.navbar {
  position: relative;
  padding-top: 68px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  display: block;
  width: 100%; }

.navbar .navbar-toggler {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  outline: inherit !important;
  border: 0px !important;
  padding: 24px 19px; }

.collapsed .navbar-toggler-icon {
  background-image: url("../img/default/spritesheet.png");
  background-position: -16px -125px;
  width: 18px;
  height: 12px;
  background-size: auto;
  display: inline-block;
  margin-bottom: 8px; }

.navbar-toggler-icon {
  background-image: url("../img/default/spritesheet.png");
  background-position: 0px -147px;
  width: 14px;
  height: 14px;
  background-size: auto;
  display: inline-block;
  margin-bottom: 6px; }

.navbar__menu-name {
  display: block; }

.navbar .navbar-nav {
  padding-top: 8px;
  display: block;
  width: 100% }

.navbar .nav-item {
  display: block; }

.navbar .nav-link {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  font-family: "HelveticaNeue-bold", sans-serif;
  text-align: left;
  background-color: #000000;
  color: #ffffff;
  display: block;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 33px;
  padding-bottom: 32px;
  border-bottom: 1px solid #414141;
  position: relative; }

.navbar-nav .nav-item .collapsed:after {
  content: "";
  position: absolute;
  border-top: 5px solid #e60c12;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  right: 16px;
  top: 41px; }

.navbar-nav .nav-item .collapsed:before {
  display: none; }

.navbar-nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e60c12;
  right: 16px;
  top: 41px; }

.navbar-nav .dropdown-item,
.series__item-link {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 1px;
  font-family: "HelveticaNeue-bold", sans-serif;
  background-color: #ffffff;
  padding-left: 19px;
  padding-right: 45px;
  border-bottom: 1px solid #cccccc;
  padding-top: 19px;
  padding-bottom: 19px;
  position: relative;
  white-space: normal; }

.navbar-nav .dropdown-item:after,
.series__item-link:after {
  content: "";
  position: absolute;
  background-image: url("../img/default/spritesheet.png");
  background-position: -16px -147px;
  width: 8px;
  height: 12px;
  right: 18px;
  top: 50%;
  margin-top: -6px; }

/* series */
.series {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #ffffff; }

.series .series__item-link {
  padding-left: 0px;
  padding-right: 0px; }

.series .series__item-link:after {
  right: 0px; }

.series__img-wrap {
  width: 100%;
  overflow: hidden;
  padding-top: 10px; }

.series__img {
  width: 100%;
  max-width: 640px;
  margin: auto;
  display: block; }

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-position: 0px -119px;
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-position: -14px -119px;
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-position: 0px -139px;
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-position: -148px -90px;
        background-size: 156px 153px;
    }

        
    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;  
    }
              
}
@media only screen and (-webkit-min-device-pixel-ratio: 4),
only screen and (min--moz-device-pixel-ratio: 4),
only screen and (-o-min-device-pixel-ratio: 4/1),
only screen and (min-device-pixel-ratio: 4),
only screen and (min-resolution: 360dpi),
only screen and (min-resolution: 4dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }

    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
}