/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
        
	body {
		line-height: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

body {
    background-color: #eaf7fc;
    
}
.tariff {
    font-size: 0px;
    width: 960px;
    margin: auto;
}
.tarigg__title {
    text-align: center;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300;
    color: #0060b7;
    padding-top: 32px;
    margin-bottom: 16px;
}
.tarigg__caption {
    font-size: 14.7px;
    line-height: 19px;
    font-weight: 400;
    color: #2d2736;
    margin-bottom: 16px;
}
.tariff__tabs {
    font-size: 13px;
}
.tariff__list {
    width: 314px;
    margin: auto;
    font-size: 0px;
    margin-bottom: 20px;
    position: relative;
}
.tariff__tabs-link {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #0060b7;
    font-size: 20px;
    font-weight: 700;
    color: #0060b7;
    height: 42px;
    line-height: 36px;
    text-align: center;
    width: 157px;
    text-decoration: none;
    outline: inherit;
}
.tariff__tabs-link-1 {
   border-bottom-left-radius: 3px; 
   border-top-left-radius: 3px; 
}
.tariff__tabs-link-2 {
   border-bottom-right-radius: 3px; 
   border-top-right-radius: 3px; 
}
.tariff__tabs .ui-state-active .tariff__tabs-link {
    background-color: #0060b7;
    color: #ffffff;
}
.tariff__tabs-item {
    display: inline-block;
}



.tariff__option {
    background-color: #ffffff;
    width: 313px;
    height: 596px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}
.tariff__option:hover {
    border: 2px solid #3b86c8;
}
.tariff__option--left {
    float: left;
}
.tariff__option--right {
    float: right;
}
.tariff__option--middle {
    margin: auto;
}
.tariff__option-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #0060b7;
    text-align: center;
    padding-top: 4px;
    margin-bottom: 1px;
}
.tariff__option-caption {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #25b1ee;
    text-align: center;
    margin-bottom: 6px;
}
.tariff__option-top-wrap {
    height: 104px;
}
.tariff__option-table {
    width: 100%;
    margin-bottom: 7px;
}
.tariff__option-left-column {
    width: 12%;
    font-size: 14px;
    font-weight: 700;
    color: #2d2736;
    height: 22px;
    vertical-align: middle;
    text-align: right;
}
.tariff__option-right-column {
    width: 88%;
    font-size: 14px;
    font-weight: 400;
    color: #2d2736;
    vertical-align: middle;
    height: 22px;
    padding-left: 15px;
}
.tariff__option-left-column--grey {
    color: #bfcade;
}
.tariff__option-right-column--grey {
    text-decoration: line-through;
    color: #bfcade;
}
.tariff__option-mini-title {
    font-size: 14px;
    line-height: 19px;
    color: #2d2736;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;    
}
.tariff__option-mini-caption {
    font-size: 14px;
    line-height: 22px;
    color: #2d2736;
    padding-left: 15px;
    padding-right: 15px;
}
.tariff__option-middle-wrap {
    height: 121px;
}
.tariff__option-last-caption {
    font-size: 14px;
    line-height: 22px;
    color: #2d2736;
    padding-left: 15px;
    padding-right: 5px;
    margin-bottom: 9px;
}
.tariff__option-order {
    width: 210px;
    height: 42px;
    text-align: center;
    line-height: 34px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    background-color: #50b320;
    display: block;
    margin: auto;
    border-radius: 4px;
    margin-top: 20px;
    border: 2px solid #50b320;
    outline: inherit;
}
.tariff__option-order:hover {
    background-color: #ffffff;
    color: #50b320;    
}
.tariff__option-month {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #2d2736;
}
.tariff__list:after {
    content: "";
    position: absolute;
    display: block;
    width: 185px;
    height: 26px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    right: -193px;
    top: 13px;
}