/* --komplektasia */
.spetsifikatsiya--komp__header {
  background-color: #828282;
  min-height: 50px;
  padding-top: 14px;
  padding-bottom: 18px; }

.spetsifikatsiya--komp__row {
  padding-left: 19px;
  padding-right: 19px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.spetsifikatsiya--komp__header-item {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  font-family: "HelveticaNeue-bold", sans-serif;
  letter-spacing: 0.7px; }

.spetsifikatsiya--komp__header-item-1 {
  text-align: left;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--komp__header-item-2 {
  text-align: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 46px;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--komp__header-item-3 {
  text-align: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 46px;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--komp__item {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #000000;
  position: relative; }

.spetsifikatsiya--komp__item-1 {
  text-align: left;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--komp__item-2 {
  text-align: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 46px;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya--komp__item-3 {
  text-align: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 46px;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.spetsifikatsiya__yes {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px; }

.spetsifikatsiya__item-link-wrap .spetsifikatsiya--komp__row {
  padding-top: 17px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cccccc; }

.spetsifikatsiya__item-link-wrap .spetsifikatsiya--komp__row:last-child {
  border-bottom: 0px; }

/*# sourceMappingURL=komplektasia.css.map */
