@charset "UTF-8";
/* konfigurator */
.konfigurator__top,
.konfigurator__middle,
.konfigurator__middle-second,
.konfigurator__bottom {
  padding-left: 19px;
  padding-right: 19px;
  border-bottom: 1px solid #cccccc; }

.konfigurator__top {
  padding-top: 30px; }

.konfigurator__top-caption-title,
.konfigurator__middle-title,
.konfigurator__middle-second-title,
.konfigurator__bottom-title {
  font-size: 15px;
  line-height: 18px;
  font-family: "HelveticaNeue-bold", sans-serif;
  letter-spacing: 0.7px;
  color: #000000;
  margin-bottom: 10px; }

.konfigurator__top-caption-text {
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 32px; }

.konfigurator__label {
  display: block;
  font-size: 15px;
  line-height: 17px;
  font-family: "HelveticaNeue-bold", sans-serif;
  margin-bottom: 9px;
  color: #000000;
  letter-spacing: 0.7px; }

/* ╨Т╨╜╨╡╤И╨╜╨╕╨╣ ╨▓╨╕╨┤ ╤Б╨╡╨╗╨╡╨║╤В╨╛╨▓ */
.konfigurator__input,
.sbHolder {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 50px;
  background-color: #e3e3e3;
  border: 2px solid #e3e3e3;
  font-size: 15px;
  line-height: 46px;
  letter-spacing: 0.7px;
  position: relative;
  color: #000000;
  text-decoration: none; }

.sbHolder {
  padding-left: 0px;
  padding-right: 0px; }

.sbSelector {
  height: 46px;
  border: 0px;
  color: #000000;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px; }

.sbSelector:hover {
  color: #000000;
  text-decoration: none; }

.sbToggle {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px; }

.konfigurator__wrap {
  margin-bottom: 16px; }

.konfigurator__select {
  position: relative;
  cursor: pointer; }

.sbToggle:after {
  content: "";
  position: absolute;
  border-top: 5px solid #e60c12;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0px solid #e60c12;
  top: 21px;
  right: 14px; }

.sbToggleOpen:after {
  border-top: 0px solid #e60c12;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e60c12; }

.sbOptions {
  width: 100%;
  left: 0px;
  border: 1px solid #cccccc;
  z-index: 2;
  position: relative;
  top: 0px !important;
  max-height: 190px !important;
  overflow-y: scroll; }

.sbOptions li a {
  display: block;
  line-height: 46px;
  font-size: 15px;
  letter-spacing: 0.7px;
  color: #000000;
  padding-left: 16px;
  padding-right: 16px; }

.sbOptions li a:hover {
  text-decoration: none; }

.sbOptions li {
  background-color: #e3e3e3;
  border-bottom: 1px solid #cccccc; }

.sbOptions li:hover {
  background-color: #cccccc; }

.sbOptions li:last-child {
  border-bottom: 0px solid #cccccc; }

.konfigurator__reset {
  display: block;
  width: 267px;
  height: 50px;
  margin: auto;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 0.7px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 34px; }

.konfigurator__reset:hover {
  text-decoration: underline;
  color: #ffffff; }

.konfigurator__middle {
  padding-top: 27px;
  padding-bottom: 21px; }

.konfigurator__middle-wrap {
  position: relative;
  margin-bottom: 9px; }

.konfigurator__checkbox,
.konfigurator__checkbox--agree {
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/default/spritesheet.png");
  background-position: -136px -140px; }

.konfigurator__checkbox.checked,
.konfigurator__checkbox--agree.checked {
  background-position: -136px -120px; }

.konfigurator__checkbox-label {
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 1px;
  padding-left: 34px;
  cursor: pointer;
  display: block; }

.konfigurator__middle-title {
  margin-bottom: 15px; }

.konfigurator__middle-second-title {
  padding-top: 26px;
  margin-bottom: 25px; }

.konfigurator__phone-wrap {
  max-width: 320px;
  margin: auto;
  position: relative; }

.phone-first {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #000000;
  width: 40px;
  text-align: center; }

.konfigurator__phone-code {
  width: 78px;
  height: 50px;
  display: inline-block;
  vertical-align: middle; }

.konfigurator__phone-number {
  width: 55%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  position: absolute;
  right: 0px;
  top: 0px; }

.konfigurator__middle-second {
  padding-bottom: 15px; }

.konfigurator__bottom {
  padding-top: 24px; }

.konfigurator__bottom-title {
  margin-bottom: 25px; }

.konfigurator__bottom .konfigurator__wrap {
  margin-bottom: 32px; }

.konfigurator__bottom .konfigurator__wrap--textarea {
  margin-bottom: 22px; }

.konfigurator__input--textarea {
  height: 114px;
  line-height: 18px; }

.konfigurator__wrap--agree .konfigurator__checkbox-label {
  line-height: 17px;
  margin-bottom: 27px; }

.konfigurator__checkbox-caption {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1px; }

.konfigurator__wrap--agree {
  margin-bottom: 36px; }

.konfigurator__send {
  width: 267px;
  height: 50px;
  display: block;
  margin: auto;
  text-align: center;
  border: 0px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  background: #e60c12;
  background: -moz-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: -webkit-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: linear-gradient(to right, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  margin-bottom: 36px; }

/* ╨б╤В╨╕╨╗╨╕ ╨╛╤И╨╕╨▒╨║╨╕ ╨┤╨╡╤Б╨║╤В╨╛╨┐╨╜╨╛╨╣ ╨▓╨╡╤А╤Б╨╕╨╕ */
.error_message {
  padding: 0 0 15px; }

.error_message_padd {
  color: #eb212e;
  font-size: 15px;
  text-align: center;
  line-height: 1.5em; }

/*# sourceMappingURL=konfigurator.css.map */
