.body__wrap {
    background-color: #000000;
    min-width: 320px;
    min-width: 992px;
    width: 100%;
    height: 4000px;
}

/* banner */
.banner {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 500px;
}

	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}
	.skrollr .gap {
		background:transparent !important;
	}
	.gap-50 {
		height:50%;
	}
	.gap-100 {
		height:100%;
	}
.bcg {
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image:url('../img/banner.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.banner__nail-wrap {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 8%;
    bottom: 10%;
}
.banner__nail-text {
    position: absolute;
    width: 400px;
    text-align: center;
    right: 8%;
    bottom: -15%;
    color: #000000;
    font-size: 40px;
    line-height: 50px;
}
.banner__nail-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/nails1600hole.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 2;
}
.banner__nail-back {
    position: absolute;
    width: 57%;
    height: 97%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
}
.banner__nail-trigger {
    bottom: 0px;
    position: absolute;
}
.social {
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.social__item {
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 0px 10px 0px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    cursor: pointer;
}
.social__item:hover {
    opacity: 0.7;
}
.social__wrap {
    text-align: center;
    margin-bottom: 20px;
}
.social__vk {
    background-image: url("../img/icon-vk.png");
}
.social__inst {
    background-image: url("../img/icon-inst.png");
}
.social__tw {
    background-image: url("../img/icon-tw.png");
}
.social__caption {
    text-align: center;
    font-size: 30px;
}
.social__trigger {
    position: absolute;
    bottom: 0px;
    opacity: 1;
}

/* master */
.master {
    height: 750px;
    background-color: #ffffff;
    overflow: hidden;
}
.master__inner {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 992px;
}
.master__text-wrap {
    position: absolute;
    width: 450px;
    top: 85px;
    right: 0px;
}
.master__text-decor {
    width: 328px;
    height: 8px;
    background-image: url("../img/titleborderbottom.jpg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin-bottom: 20px;
}
.master__animation-trigger {
    position: absolute;
    top:0px;
}
.master__text-title {
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #0b0a0a;
    font-weight: 700;
    margin-bottom: 10px;
}
.master__text-caption {
    color: #0b0a0a;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.master__img-wrap {
    position: absolute;
}
.master__img-wrap-1 {
    width: 400px;
    height: auto;
    left: 50px;
    top: 500px;
}
.master__img {
    width: 100%;
}
.master__img-wrap-2 {
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    left: 150px;
    top: 250px;
    width: 250px;
    z-index: 2;
}
.master__img-wrap-3 {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    left: 0px;
    bottom: 100px;
    width: 300px;
}
.master__img-wrap-4 {
    width: 150px;
    left: 400px;
    top: 0px;
    z-index: 3;
}
.master__animation-brush-trigger {
    top: 70%;
    position: absolute;
}
.master__img-wrap-5 {
    width: 120px;
    bottom: 10px;
    right: 0px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.master__img-wrap-6 {
    width: 180px;
    left: -50px;
    top: 150px;
}
/* tubes */
.tubes {
    height: 48px;
    position: absolute;
    top: -48px;
    left: 0px;
    right: 0px;
    background: url("../img/green__tube.png"), url("../img/blue__tube.png"), url("../img/yellow__tube.png"), url("../img/red__tube.png");
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0px 0px, 48px 0px, 96px 0px, 144px 0px;
}
.tubes__trigger {
    position: absolute;
    top: 50%;
}
/* banner2 */
.banner2 {
    height: 515px;
    position: relative;
}
.banner2 .bcg {
    background-image:url('../img/banner2.jpg');
}
.ad {
    position: absolute;
    left: 42%;
    top: 40%;
    font-size: 100px;
    line-height: 100px;
    color: #ffffff;
}
.ad--big {
    position: absolute;
    left: 60%;
    top: -80px;
    width: 500px;
    color: #ffffff;
    font-size: 40px;
    line-height: 52px;
}
.ad--big__trigger {
    position: absolute;
    top:0px;
}
.scissors {
    position: absolute;
    left: 10%;
    bottom: -150px;
    width: 256px;
    height: 256px;
    background-image: url("../img/scissors-blue.png");
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

/* banner3 */
@media screen and (max-width: 1400px) {
    .banner__nail-wrap {
        width: 250px;
        height: 250px;
        right: 5%;
        bottom: 6.4%;
    }
    .banner__nail-text {
        width: 250px;
        right: 5%;
        bottom: -9%;
        font-size: 25px;
        line-height: 31px;
    }
    
    
    .social__item {
        width: 50px;
        height: 50px;
        margin: 0px 7px 0px;
    }
    .social__wrap {
        margin-bottom: 15px;
    }
    .social__caption {
        font-size: 22px;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 544px) {

}
@media screen and (max-width: 390px) {
    .do__title {
        font-size: 28px;
        line-height: 39px;
    }
}