html {
  position: relative; }

/* header */
.header {
  height: 73px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100; }

.header__main-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.nav__link {
  color: #ffffff;
  font-size: 16px;
  line-height: 73px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  padding-right: 20px; }

.nav__link:hover, .nav__link:active, .nav__link:focus {
  text-decoration: underline;
  color: #ffffff; }

.header__nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%; }

.header__wrap {
  -webkit-flex: 0 1 320px;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
  height: 73px;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header__nav-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  line-height: 73px;
  width: 180px;
  text-align: right; }

.phone--header .phone__number {
  color: #ffffff;
  display: inline-block;
  line-height: 73px; }

.phone--header .phone__button {
  display: inline-block;
  margin-right: 20px; }

.phone--header .phone__button {
  border-color: #ffffff;
  color: #ffffff; }

.navbar-toggler {
  height: 28px;
  width: 28px;
  padding: 0px;
  cursor: pointer;
  border: 0px;
  border-radius: 0;
  margin-left: 11px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: absolute;
  display: none; }

.header__main-wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

.header__nav-toggler {
  display: none; }

.body__wrap {
  background-color: #000000;
  min-width: 320px;
  width: 100%;
  touch-action: manipulation;
  overflow: hidden; }

/* Menu icon */
#menuToggle {
  margin-top: 10px;
  width: 45px;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#menuToggle span {
  width: 45px;
  height: 5px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71); }

#span1 {
  transform-origin: 6px -2px; }

#span3 {
  transform-origin: bottom right; }

.sidr-open #menuToggle {
  margin-top: 6px; }

.sidr-open #menuToggle #span1 {
  background-color: #000000;
  transform: rotate(45deg) translate(8px); }

.sidr-open #menuToggle #span2 {
  background-color: #000000;
  transform: rotate(495deg) translate(4px); }

.sidr-open #menuToggle #span3 {
  background-color: #000000;
  transform: rotate(45deg);
  opacity: 0; }

#sidr .nav__list {
  font-size: 0px; }

#sidr li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf; }

#sidr li:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf; }

#sidr li:active {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf; }

#sidr li:focus {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf; }

.sidr .nav__link {
  font-family: "Bad Script", cursive;
  font-size: 18px;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px; }

.sidr .nav__link:hover, .sidr .nav__link:active, .sidr .nav__link:focus {
  color: #854775;
  text-decoration: none; }

.sidr .nav__link:active {
  color: #854775;
  text-decoration: none; }

.sidr .nav__link:focus {
  color: #854775;
  text-decoration: none; }

.phone--menu .phone__button {
  border: 2px solid #854775;
  color: #854775;
  padding: 5px 30px;
  margin-bottom: 10px; }

.phone--menu {
  border-bottom: 1px solid #dfdfdf; }

#sidr .nav__list {
  margin-bottom: 5px; }

#sidr .phone__button {
  margin-right: 0px; }

#sidr .phone__number {
  color: #854775;
  line-height: 30px;
  margin-bottom: 5px;
  font-size: 18px; }

#sidr .social--menu .social__wrap {
  text-align: center;
  padding-top: 5px; }

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 500px; }

.gap {
  background: transparent center no-repeat;
  background-size: cover; }

.gap-50 {
  height: 50%; }

.gap-100 {
  height: 100%; }

.bcg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/people-2605526.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.banner__nail-wrap {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 8%;
  bottom: 10%; }

.banner__nail-text {
  position: absolute;
  width: 400px;
  text-align: center;
  right: 8%;
  bottom: -16%;
  color: #ffffff;
  font-size: 40px;
  line-height: 50px; }

.banner__nail-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/eyelashes1600hole.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2; }

.banner__nail-back {
  position: absolute;
  width: 100%;
  height: 97%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  z-index: 1; }

.banner__nail-trigger {
  bottom: 0;
  position: absolute; }

.social {
  position: absolute;
  bottom: 100px;
  width: 100%; }

.social__item {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 0 10px;
  background-size: contain;
  cursor: pointer; }
  .social__item:hover {
    opacity: 0.7; }

.social__wrap {
  text-align: center;
  margin-bottom: 20px; }

.social__vk {
  background-image: url("../img/spritesheet.png");
  background-size: 330px 194px;
  background-position: 0px -129px; }

.social__inst {
  background-image: url("../img/spritesheet.png");
  background-size: 330px 194px;
  background-position: -134px -129px; }

.social__tw {
  background-image: url("../img/spritesheet.png");
  background-size: 330px 194px;
  background-position: -67px -129px; }

.social__caption {
  text-align: center;
  font-size: 30px;
  color: #ffffff; }

.social__trigger {
  position: absolute;
  bottom: 0;
  opacity: 1; }

.master {
  height: 750px;
  background-color: #ffffff;
  overflow: hidden; }

.master__inner {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 992px;
  padding-left: 10px;
  padding-right: 10px; }

.master__text-wrap {
  position: absolute;
  width: 450px;
  top: 85px;
  right: 0; }

.master__text-decor {
  width: 328px;
  height: 8px;
  background-image: url(../img/titleborderbottom.jpg);
  background-size: contain;
  margin-bottom: 20px; }

.master__animation-trigger {
  position: absolute;
  top: 0; }

.master__text-title {
  font-size: 29px;
  line-height: 35px;
  text-transform: uppercase;
  color: #0b0a0a;
  font-weight: 700;
  margin-bottom: 10px; }

.master__text-caption {
  color: #0b0a0a;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px; }

.master__img-wrap {
  position: absolute; }

.master__img-wrap-1 {
  width: 400px;
  height: auto;
  left: 50px;
  top: 500px; }

.master__img {
  width: 100%; }

.master__img-wrap-2 {
  transform: rotate(-15deg);
  left: 150px;
  top: 250px;
  width: 250px;
  z-index: 2; }

.master__img-wrap-3 {
  transform: rotate(5deg);
  left: 0;
  bottom: 100px;
  width: 300px; }

.master__img-wrap-4 {
  width: 150px;
  left: 400px;
  top: 0;
  z-index: 3; }

.master__animation-brush-trigger {
  top: 70%;
  position: absolute; }

.master__img-wrap-5 {
  width: 120px;
  bottom: 10px;
  right: 0;
  transform: rotate(-45deg); }

.master__img-wrap-6 {
  width: 150px;
  left: -50px;
  top: 250px; }

.tubes {
  height: 48px;
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  background: url(../img/tubes.png);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 48px 0, 96px 0, 144px 0; }

.tubes__trigger {
  position: absolute;
  top: 50%; }

.banner2 {
  height: 515px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff; }
  .banner2 .bcg {
    background-image: url(../img/prinadlezhnosti-dlya-narashchivaniya-resnic.jpg); }

.banner4 .bcg {
  background-image: url(../img/beautiful-art.jpg);
  background-size: auto; }

.ad {
  position: absolute;
  left: 42%;
  top: 40%;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  z-index: 2; }

.ad--big {
  position: absolute;
  left: 60%;
  top: -80px;
  width: 500px;
  color: #ffffff;
  font-size: 40px;
  line-height: 52px;
  text-shadow: 0px 0px 5px #000000;
  z-index: 1; }

.ad--big__trigger {
  position: absolute;
  top: 0; }

.scissors {
  position: absolute;
  left: 10%;
  bottom: -150px;
  width: 256px;
  height: 256px;
  background-image: url(../img/scissors-blue.png);
  transform: rotate(30deg); }

.services {
  background-image: url(../img/616.jpg);
  background-repeat: repeat; }

.banner__title {
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  color: #0b0a0a;
  font-weight: 700;
  text-align: center;
  padding: 40px;
  padding-top: 50px; }

.services__slide {
  display: inline-block;
  width: 100%;
  position: relative; }

.owl-item {
  display: inline-block;
  vertical-align: top; }

.services__item {
  width: 1170px;
  height: 450px;
  margin: auto;
  position: relative; }

.services__item-img {
  width: 100%; }

.services__item-img-wrap {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  overflow: hidden; }

.services__carousel {
  overflow: hidden; }

.services__item-caption {
  background-color: #ffffff;
  float: right;
  width: 600px;
  height: 400px;
  position: relative;
  top: 20px;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.75); }

.services__item-title {
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 10px; }

.services__item-text {
  font-size: 20px;
  line-height: 25px; }

.owl-nav {
  text-align: center; }
  .owl-nav button {
    display: inline-block;
    border: 0;
    outline: inherit;
    width: 26px;
    height: 45px;
    cursor: pointer;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px; }
    .owl-nav button:hover {
      animation: inv 0.3s forwards linear; }
    .owl-nav button span {
      display: none; }

@keyframes inv {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
@keyframes showTopButton {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes hideTopButton {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.showTopButton {
  animation: showTopButton 0.5s forwards linear; }

.hideTopButton {
  animation: hideTopButton 0.5s forwards linear; }

.owl-prev {
  background: none;
  background-image: url("../img/spritesheet.png");
  background-position: -276px -129px;
  background-size: 330px 194px; }

.owl-next {
  background: none;
  background-image: url("../img/spritesheet.png");
  background-position: -248px -129px;
  background-size: 330px 194px; }

.services__carousel-wrap {
  padding-bottom: 30px; }

/* works */
#wrapper {
  width: 100%;
  padding-top: 1px;
  background: transparent; }

#slider {
  margin: 100px 0 0 0;
  height: 500px;
  overflow: hidden;
  background: transparent; }

#slider .slide {
  position: relative;
  display: none;
  height: 500px;
  float: left;
  background-position: center right;
  cursor: pointer;
  border-left: 1px solid #fff;
  background: url("../img/works-bg.png"); }

#slider .slide:first-child {
  border: none; }

#slider .slide.active {
  cursor: default; }

#slider .slide-block {
  position: absolute;
  left: 40px;
  bottom: 75px;
  display: inline-block;
  width: 435px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 14px;
  color: #134B94;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 4px; }

#slider .slide-block h4 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 10px 0;
  line-height: 1; }

#slider .slide-block p {
  margin: 0; }

.caroufredsel_wrapper {
  margin-top: 0px !important;
  background: transparent; }

#slider .slide {
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff; }

.works__img {
  height: 100%;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.banner4 {
  background-color: #854775;
  padding-bottom: 25px;
  position: relative;
  height: 700px; }

.banner4 .works__title {
  position: relative; }

.banner4 .works__title:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  background-image: url("../img/spritesheet.png");
  background-position: -166px 0px;
  background-size: 330px 194px;
  background-repeat: no-repeat;
  height: 127px;
  width: 164px; }

.banner4 .works__title:after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  background-image: url("../img/spritesheet.png");
  background-position: 0px 0px;
  background-size: 330px 194px;
  background-repeat: no-repeat;
  height: 127px;
  width: 164px; }

.works__control-wrap {
  text-align: center;
  padding-top: 13px; }

.works__control {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 45px; }
  .works__control:hover {
    animation: inv 0.3s forwards linear; }

.works__left {
  background-image: url("../img/spritesheet.png");
  background-position: -276px -129px;
  background-size: 330px 194px;
  margin-left: 10px;
  margin-right: 5px; }

.works__right {
  background-image: url("../img/spritesheet.png");
  background-position: -248px -129px;
  background-size: 330px 194px;
  margin-left: 5px;
  margin-right: 10px; }

/* footer */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/photography.jpg");
  border-top: 1px solid #000000;
  padding-bottom: 20px; }

.footer__wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footer__column {
  -webkit-flex: 0 1 300px;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px; }

.phone {
  text-align: center; }

.phone__number {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px; }

.phone__button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  border: 4px solid #854775;
  color: #854775;
  border-radius: 40px;
  padding: 10px 30px; }

.phone__button:hover, .phone__button:active, .phone__button:focus {
  background-color: #854775;
  color: #ffffff;
  text-decoration: none; }

.address {
  font-family: "Open Sans", sans-serif; }

.address__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000; }

.address__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #000000; }

.nav__list--footer {
  display: inline-block;
  text-align: left; }

.footer__column--list {
  text-align: center; }

.nav__list--footer .nav__link {
  color: #000000;
  line-height: 26px;
  display: block;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-left: 30px; }

.nav__list--footer .nav__link:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 8px;
  top: 6px;
  background-repeat: no-repeat; }

.nav__list--footer .nav__link-contacts:before {
  width: 16px;
  height: 16px;
  background-image: url("../img/spritesheet.png");
  background-position: -201px -176px;
  background-size: 330px 194px;
  left: 11px;
  top: 5px; }

.nav__list--footer .nav__link-about:before {
  width: 16px;
  height: 17px;
  background-image: url("../img/spritesheet.png");
  background-position: -304px -151px;
  background-size: 330px 194px;
  left: 11px;
  top: 5px; }

.nav__list--footer .nav__link-quality:before {
  width: 16px;
  height: 15px;
  background-image: url("../img/spritesheet.png");
  background-position: -219px -176px;
  background-size: 330px 194px;
  left: 11px;
  top: 5px; }

.nav__list--footer .nav__link-services:before {
  width: 16px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-position: -304px -129px;
  background-size: 330px 194px;
  left: 11px;
  top: 4px; }

.nav__list--footer .nav__link-works:before {
  width: 16px;
  height: 13px;
  background-image: url("../img/spritesheet.png");
  background-position: -237px -176px;
  background-size: 330px 194px;
  left: 11px;
  top: 7px; }

.social--footer {
  position: static;
  text-align: right; }

.social__title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000; }

.social--footer .social__wrap {
  text-align: right; }

.social--footer .social__item {
  width: 35px;
  height: 35px;
  margin: 0px;
  margin-left: 10px;
  background-size: 172px 101px; }

.social--footer .social__vk {
  background-position: 0px -167px; }

.social--footer .social__tw {
  background-position: -206px -167px; }

.social--footer .social__inst {
  background-position: -70px -167px; }

.back-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(197, 86, 159, 0.5);
  padding-top: 12px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  display: none; }

.back-to-top__inner {
  width: 45px;
  height: 26px;
  background-image: url("../img/spritesheet.png");
  background-position: -201px -139px;
  background-size: 330px 194px; }

.skrollr .gap {
  background: transparent !important; }

#banner4__trigger {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  height: 100%; }

@media screen and (max-width: 1400px) {
  /* header */
  .header__phone {
    font-size: 14px;
    font-weight: 400;
    padding-right: 3%;
    width: 150px; }

  .header__logo {
    left: 20px;
    width: 110px; }

  .header__en {
    padding-right: 14%; }

  .header__fb {
    margin-right: 3%; }

  .banner__nail-wrap {
    width: 250px;
    height: 250px;
    right: 5%;
    bottom: 6.4%; }

  .banner__nail-text {
    width: 250px;
    right: 5%;
    bottom: -10%;
    font-size: 25px;
    line-height: 31px; }

  .social__item {
    width: 50px;
    height: 50px;
    margin: 0 7px;
    background-size: 250px 147px; }

  .social__vk {
    background-position: 0px -97px; }

  .social__inst {
    background-position: -100px -97px; }

  .social__tw {
    background-position: -50px -97px; }

  .social__wrap {
    margin-bottom: 15px; }

  .social__caption {
    font-size: 22px; }

  /* master */
  .master {
    height: 650px; }

  .master__img-wrap-3 {
    display: none; }

  .master__img-wrap-1 {
    display: none; }

  .master__img-wrap-6 {
    display: none; }

  .master__img-wrap-5 {
    display: none; }

  .master__img-wrap-4 {
    display: none; }

  .master__inner {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .master__img-wrap-2 {
    transform: rotate(0deg);
    position: static;
    margin-top: 45px; }

  .master__text-wrap {
    position: static;
    margin-top: 45px; }

  /* services */
  .services__carousel-wrap {
    padding-left: 20px;
    padding-right: 20px; }

  .services__item-img-wrap {
    width: 53%;
    left: 5px; }

  .services__item-caption {
    width: 52%;
    position: absolute;
    right: 5px; }

  .services__item {
    max-width: 1170px;
    width: auto; } }
@media screen and (max-width: 992px) {
  /* header */
  .header {
    height: 50px; }

  .header__nav .nav__list {
    display: none; }

  .header__wrap {
    display: block;
    height: auto; }

  .navbar-toggler {
    display: block;
    left: 6px;
    top: 0px;
    padding: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    margin: 0px;
    outline: 0px !important; }

  .header__nav {
    display: block;
    text-align: left; }

  .phone--header {
    display: inline-block; }

  .header__nav .phone__number {
    line-height: 50px;
    margin: 0;
    font-size: 18px; }

  .header__nav .phone__button {
    padding: 5px 30px;
    border: 2px solid #ffffff;
    vertical-align: top;
    margin-top: 6px; }

  .header__nav-toggler {
    display: block;
    margin-right: 20px; }

  .banner__nail-wrap {
    display: none; }

  .banner__nail-text {
    display: none; }

  /* banner2 */
  .scissors {
    display: none; }

  .ad {
    position: static;
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    padding-top: 50px;
    text-shadow: 0px 0px 5px #000000;
    padding-left: 20px;
    padding-right: 20px; }

  .ad--big {
    position: static;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; }

  .banner2 {
    height: 330px; }

  /* services */
  .services__item-img-wrap {
    position: static;
    width: 90%;
    margin: auto; }

  .services__item {
    height: auto; }

  .services__item-caption {
    margin-right: 10px;
    margin-left: 10px;
    top: -30px;
    position: relative;
    width: auto;
    right: auto;
    left: auto;
    height: auto; }

  .services__carousel {
    position: relative; }

  .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -20px; }

  .owl-nav button {
    position: absolute; }

  .owl-prev {
    left: 0px; }

  .owl-next {
    right: 0px; }

  .services__item-title {
    font-size: 30px;
    line-height: 36px; }

  .services__item-text {
    font-size: 18px;
    line-height: 23px; }

  /* parallax for mobile */
  .banner .bcg {
    background-attachment: fixed;
    background-position: 50% 0px !important; }

  .banner2 .bcg {
    background-attachment: fixed;
    background-position: 50% 0px !important; }

  .banner4 .bcg {
    background-attachment: fixed;
    background-position: 50% 0px !important; } }
@media screen and (max-width: 768px) {
  .phone--header {
    display: none; }

  .phone--menu {
    display: block; }

  /* master */
  .master__inner {
    display: block; }

  .master__img-wrap-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }

  .master__text-wrap {
    display: block;
    width: auto;
    margin-top: 25px;
    margin-bottom: 15px; }

  .master {
    height: auto; }

  .master__text-decor {
    max-width: 328px;
    width: 100%; }

  .master__text-title {
    font-size: 23px;
    margin-bottom: 5px; }

  .master__text-decor {
    margin-bottom: 10px; }

  .master__text-caption {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px; }

  /* banner2 */
  .ad {
    font-size: 38px;
    line-height: 46px; }

  .ad--big {
    position: static;
    font-size: 24px;
    line-height: 35px; }

  .banner2 {
    height: 330px; }

  .banner2 .bcg {
    background-size: 150%; }

  /* services */
  .banner__title {
    font-size: 30px;
    line-height: 37px;
    padding-top: 30px;
    padding-bottom: 20px; }

  .services__item-img-wrap {
    width: auto;
    margin-left: 50px;
    margin-right: 50px; }

  .services__item-caption {
    margin-left: 5px;
    margin-right: 5px; }

  .owl-nav .owl-prev {
    left: 5px;
    margin-left: 0px; }

  .owl-nav .owl-next {
    right: 5px;
    margin-right: 0px; }

  /* banner 4 */
  .banner4 .works__title:before {
    display: none; }

  .banner4 .works__title:after {
    display: none; }

  .banner4 {
    height: 670px; }

  .slide {
    height: 350px !important; }

  #slider {
    height: 350px !important; }

  .caroufredsel_wrapper {
    height: 350px !important; }

  .banner4 {
    height: 520px; }

  .slide-block {
    display: none !important; }

  /* footer */
  .footer__wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .footer__column {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }

  .footer__column--list {
    text-align: left; }

  .footer__phone {
    text-align: right; }

  .services__carousel-wrap {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 544px) {
  .banner__nail-wrap {
    display: none; }

  .banner__nail-text {
    display: none; }

  /* banner2 */
  .banner2 .bcg {
    background-size: 250%; }

  .services__item-caption {
    top: -8px;
    border-radius: 10px; }

  .services__item-img-wrap {
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px; }

  /* footer */
  .footer__column--list {
    display: none; }

  .footer__phone {
    display: none; }

  .footer__address {
    text-align: center; }

  .footer__column {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }

  .social--footer {
    text-align: center; }

  .social--footer .social__wrap {
    text-align: center; } }
@media screen and (max-width: 390px) {
  .do__title {
    font-size: 28px;
    line-height: 39px; } }

/*# sourceMappingURL=main.css.map */
