html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-light.eot");
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light.woff2') format('woff2'), url('../fonts/opensans-light.woff') format('woff'), url('../fonts/opensans-light.ttf') format('truetype');
    font-weight:100;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-lightitalic.eot");
    src: url('../fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-lightitalic.woff2') format('woff2'), url('../fonts/opensans-lightitalic.woff') format('woff'), url('../fonts/opensans-lightitalic.ttf') format('truetype');
    font-weight:100;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff2') format('woff2'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype');
    font-weight: 700;
    font-style:normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-semibolditalic.eot');
    src: url('../fonts/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibolditalic.woff2') format('woff2'), url('../fonts/opensans-semibolditalic.woff') format('woff'), url('../fonts/opensans-semibolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff2') format('woff2'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: 800;
    font-style:normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bolditalic.eot');
    src: url('../fonts/opensans-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bolditalic.woff2') format('woff2'), url('../fonts/opensans-bolditalic.woff') format('woff'), url('../fonts/opensans-bolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style:italic;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold.woff2') format('woff2'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.ttf') format('truetype');
    font-weight: 900;
    font-style:normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-extrabolditalic.eot');
    src: url('../fonts/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabolditalic.woff2') format('woff2'), url('../fonts/opensans-extrabolditalic.woff') format('woff'), url('../fonts/opensans-extrabolditalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'pfdavinciscriptpro';
    src: url('../fonts/pfdavinciscriptpro-reg.eot');
    src: url('../fonts/pfdavinciscriptpro-reg.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdavinciscriptpro-reg.woff2') format('woff2'), url('../fonts/pfdavinciscriptpro-reg.woff') format('woff'), url('../fonts/pfdavinciscriptpro-reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pfdavinciscriptpro';
    src: url('../fonts/pfdavinciscriptpro-inked.eot');
    src: url('../fonts/pfdavinciscriptpro-inked.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdavinciscriptpro-inked.woff2') format('woff2'), url('../fonts/pfdavinciscriptpro-inked.woff') format('woff'), url('../fonts/pfdavinciscriptpro-inked.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

body {
    line-height: 1;
    font-family: 'opensans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.screen {
    width: 1225px;
    height: 768px;
    position: relative;
}


/* ---------- screen-1 ---------- */
.screen-1 {
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
}
.screen-1__logo {
    position: absolute;
    width: 494px;
    height: 279px;
    left: 368px;
    top: 147px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}

.screen-1__loader-out {
    position: absolute;
    left: 454px;
    top: 435px;
    width: 316px;
    height: 79px;
    background-image: url("../img/loader-out.png");
    background-repeat: no-repeat;
    position: relative;
}

.screen-1__loader-counter {
    width: 296px;
    height: 33px;
    position: absolute;
    left: 10px;
    top: 18px;
}

.screen-1__loader-in {
    width: 65%;
    height: 33px;
    background-image: url("../img/loader-in.png");
    background-repeat: no-repeat;
}

/* ---------- screen-2 ---------- */
.screen-2 {
    background-image: url("../img/bg-2.jpg");
    background-repeat: no-repeat;
}
.screen-2__title {
    font-size: 32px;
    font-weight: 900;
    color: #fae280;
    padding-top: 103px;
    text-align: center;
}
.screen-2__wrap {
    position: relative;
    width: 800px;
    height: 100%;
    left: 243px;
    top: 60px;
    height: 500px;
}
.screen-2__item {
    background-image: url("../img/frame.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 161px;
    margin-bottom: 19px;
    margin-right: 24px;
    padding: 34px 36px 31px 32px;
    text-decoration: none;
    width: 160px;
    position: relative;
}
.screen-2__item-2 {
    margin-left: 129px;
}
.screen-2__img {
    width: 100%;
    height: 100%;
}
.screen-2__item-inner {
    position: relative;
}

.screen-2__fade {
    background-image: url("../img/bg-item.png");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.screen-2__shield {
    background-repeat: no-repeat;
    width: 78px;
    height: 76px;
    position: absolute;
    right: -10px;
    bottom: -6px;
}
.screen-2__shield--current {
    background-image: url("../img/shield-current.png");
}
.screen-2__shield--opened {
    background-image: url("../img/shield-opened.png");
}
.screen-2__shield--blocked {
    background-image: url("../img/shield-blocked.png");
}

/* ---------- screen-3 ---------- */

.screen-3 {
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
}
.screen-3__timer {
    background-image: url("../img/bg-clock.png");
    background-repeat: no-repeat;
    height: 187px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 250px;
}
.screen-3__clock {
    color: #ffffff;
    display: block;
    font-size: 48px;
    font-weight: 700;
    padding-left: 53px;
    padding-top: 72px;
    text-align: center;
    filter: Shadow(Color=#000000, Direction=0, Strength=4);
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
    position: relative;
    z-index: 2;
}
.screen-3__bb {
    position: relative;
    left: 481px;
    top: 100px;
    width: 580px;
    height: 572px;
    background-image: url("../img/bg-bb.png");
    background-repeat: no-repeat;
}
.screen-3__bb-close {
    height: 55px;    
    position: absolute;
    right: 10px;
    top: 20px;
    width: 55px;
}

.screen-3__bb-inner {
    height: 412px;
    left: 77px;
    position: absolute;
    top: 83px;
    width: 412px;
}

.screen-3__timer-wrap {
    position: absolute;
    top:2px;
    right: 3px;
    width: 182px;
    height: 182px;
    z-index: 1;
}
.screen-3__timer-img {
    width: 100%;
    height: 100%;
}
a img,
a {
    border: 0 !important;
    outline : none;
}

/* ---------- screen-4 ---------- */
.screen-4 {
    background-image: url("../img/bg-2.jpg");
    background-repeat: no-repeat;
}
.screen-4__frame {
    background-image: url("../img/bg-main-fraim.png");
    background-repeat: no-repeat;
    height: 593px;
    left: 246px;
    position: absolute;
    top: 89px;
    width: 737px;
}
.screen-4__clock {
    background-image: url("../img/bg-corner-clock.png");
    background-repeat: no-repeat;
    height: 77px;
    position: absolute;
    right: -20px;
    top: 18px;
    width: 129px;
}
.screen-4__time {
    font-size: 24px;
    font-weight: 900;
    display: block;
    padding-top: 18px;
    color: #044061;
    text-align: center;
}
.screen-4__decor {
    background-image: url("../img/bg-decor-1.png");
    background-repeat: no-repeat;
    height: 171px;
    left: 299px;
    position: absolute;
    top: -21px;
    width: 137px;
}

.screen-4__title {
    color: #fae280;
    font-size: 18px;
    font-weight: 900;
    padding-top: 163px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
    margin-bottom: 19px;
}

.screen-4__caption {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
}

.screen-4 label {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}
.screen-4 .jq-checkbox {
    width: 39px;
    height: 39px;
    background: none;
    background-image: url("../img/bg-check.png");
    background-repeat: no-repeat;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    display: table-cell !important;
    vertical-align: middle;
    background-position: left center;
    margin: 0px;
}

.screen-4 .jq-checkbox.checked .jq-checkbox__div {
    background: none;
    background-image: url("../img/bg-checked.png");
    background-repeat: no-repeat;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    height: 39px;
    margin: inherit;
    width: 39px;
    margin: 0px;
}
.screen-4__form {
    padding-left: 121px;
    padding-right: 40px;
    padding-top: 19px;
}
.screen-4__wrap {
    margin-bottom: 11px;
    display: table;
}