/* main */
/* carousel */
.carousel-indicators {
  bottom: -50px;
  background-color: #000000;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 6px; }

.carousel-indicators li {
  width: auto;
  height: auto;
  background-color: #000000;
  margin: 0px;
  padding: 8px;
  cursor: pointer; }

.carousel-indicators .active {
  background-color: #000000; }

.carousel-indicators .carousel__indicators-inner {
  width: 12px;
  height: 12px;
  background-color: #838383;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  display: block; }

.carousel-indicators .active .carousel__indicators-inner {
  background-color: #000000;
  border: 2px solid #e60c11; }

/* main-links */
.main-links {
  padding-top: 54px;
  background-color: #000000; }

.main-links__title {
  font-family: "HelveticaNeue-bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-bottom: 1px solid #414141;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 1px;
  padding-bottom: 20px; }

.main-links__wrap {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 20px;
  padding-bottom: 20px; }
.main-links__link {
  border-bottom: 1px solid #414141;
  text-align: center;
  height: 99px;
  position: relative;
  display: block;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.main-links__link-second-row {
  height: 123px; }

.main-links__link-third-row {
  height: 118px;
  border-bottom: 0px; }

.main-links__link:hover {
  opacity: 0.7;
  text-decoration: none; }

.main-links__link:nth-child(2n+1) {
  border-right: 1px solid #414141; }

.main-links__caption {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 21px;
  left: 0px;
  right: 0px;
  margin: auto; }

.main-links__icon {
  display: inline-block;
  background-image: url("../img/default/spritesheet.png"); }

.main-links__icon-dillers {
  margin-top: 6px;
  background-position: -48px 0px;
  width: 40px;
  height: 45px; }

.main-links__icon-conf {
  margin-top: 8px;
  background-position: 0px -48px;
  width: 40px;
  height: 40px; }

.main-links__icon-liz {
  margin-top: 31px;
  background-position: -84px -48px;
  width: 40px;
  height: 40px; }

.main-links__icon-cr {
  margin-top: 35px;
  background-position: 0px -90px;
  width: 40px;
  height: 33px; }

.main-links__icon-akcii {
  margin-top: 32px;
  background-position: -42px -48px;
  width: 40px;
  height: 40px; }

.main-links__icon-nal {
  margin-top: 27px;
  background-position: -90px 0px;
  width: 40px;
  height: 45px; }

/* series-accordion */
.series-accordion__link {
  position: relative;
  font-size: 0px;
  display: block; }

.series-accordion__img {
  left: 0px;
  right: 0px;
  width: 100%; }

.series-accordion__link-caption {
  position: absolute;
  font-family: "HelveticaNeue-bold", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  left: 19px;
  bottom: 20px;
  z-index: 2; }

.series-accordion__link-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000;
  display: block;
  opacity: 0.4; }

.series-accordion__item .collapsed .series-accordion__link-icon {
  background-position: -132px -96px; }

.series-accordion__item .series-accordion__link-icon {
  background-image: url("../img/default/spritesheet.png");
  background-position: -106px -90px;
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 2;
  bottom: 21px;
  right: 13px; }

/* series */
.series {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #ffffff; }

.series .series__item-link {
  padding-left: 0px;
  padding-right: 0px; }

.series .series__item-link:active,
.series .series__item-link:focus,
.series .series__item-link:hover {
  color: #000000;
  background-color: #ffffff; }

.series .series__item-link:after {
  right: 0px; }

.series__img-wrap {
  width: 100%;
  overflow: hidden;
  padding-top: 10px; }

.series__img {
  width: 100%;
  max-width: 640px;
  margin: auto;
  display: block; }

/* news */
.news {
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 36px; }

.news__show:hover {
  text-decoration: none; }

.news__main-title {
  font-size: 26px;
  letter-spacing: 2px;
  color: #000000;
  line-height: 31px;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 12px; }

.news__arrow-caption {
  font-size: 9px;
  line-height: 11px;
  color: #e60c12;
  text-align: center;
  text-transform: uppercase; }

.news .news__arrow-caption-show {
  display: none; }

.news .collapsed .news__arrow-caption-hide {
  display: none; }

.news .collapsed .news__arrow-caption-show {
  display: block; }

.news__arrow {
  text-align: center; }

.news__arrow-arrow {
  margin-bottom: 7px; }

.news .news__arrow .news__arrow-arrow {
  display: inline-block;
  border-top: 0px solid #e60c12;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #e60c12; }

.news .collapsed .news__arrow-arrow {
  display: inline-block;
  border-top: 9px solid #e60c12;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 0px solid #e60c12; }

.news__item-img-wrap {
  width: 250px;
  height: 154px;
  overflow: hidden;
  display: block;
  margin: auto;
  margin-bottom: 10px; }

.news__item-img {
  width: 100%; }

.news__item-caption {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 1px;
  text-align: center; }

.news__news {
  margin-top: 27px; }

.news__item {
  color: #000000;
  margin-bottom: 30px;
  display: block; }

.news__item:hover {
  color: #000000; }

.news__item:last-child {
  margin-bottom: 0px; }

/* send */
.send {
  height: 114px;
  background: #e60c12;
  background: -moz-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: -webkit-linear-gradient(left, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  background: linear-gradient(to right, #e60c12 0%, #8b040f 100%, #8b040f 100%);
  padding-top: 32px;
  border-bottom: 1px solid #414141; }

.send__button {
  background-color: #ffffff;
  display: block;
  width: 267px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  letter-spacing: 1px;
  margin: auto;
  text-transform: uppercase; }

.send__button:hover {
  color: #000000;
  text-decoration: none; }

/* retina sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }

        
    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;  
    }
              
}
@media only screen and (-webkit-min-device-pixel-ratio: 4),
only screen and (min--moz-device-pixel-ratio: 4),
only screen and (-o-min-device-pixel-ratio: 4/1),
only screen and (min-device-pixel-ratio: 4),
only screen and (min-resolution: 360dpi),
only screen and (min-resolution: 4dppx) {
    .dillers__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .collapsed .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-toggler-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .navbar-nav .dropdown-item:after,
    .footer__links-link:after {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }

    .main-links__icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .series-accordion__item .series-accordion__link-icon {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .social__link {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
    .footer__goUp {
        background-image: url("../img/retina/spritesheet-4x.png");
        background-size: 156px 153px;
    }
        
}
/*# sourceMappingURL=style.css.map */
