
/* Start:/bitrix/templates/.default/components/bitrix/menu/top_depo_multilevel/style.css?14642627164657*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	 
	min-height:27px;
	width:100%;
	list-style:none;
	
	 
	/*font-size:90%*/
}

#header  #horizontal-multilevel-menu
{
	margin: 0 0 0 -3px; 
	bottom: 3px;
}

#horizontal-multilevel-menu ul
{
	margin: 0 0 0  -3px; 
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item, #horizontal-multilevel-menu li a.root-item-selected
{
	 
	font-weight: normal;
	padding: 4px 20px 4px 0;
}

#horizontal-multilevel-menu   li.parent a
{
	 background: url(../../../../../../images/main/arrow.jpg)/*tpa=http://www.avgust.com/images/main/arrow.jpg*/ center right no-repeat;
}
#horizontal-multilevel-menu  li.parent ul  a
{
	 background:  none;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	 
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	 
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(../../../../../templates/.default/components/bitrix/menu/top_depo_multilevel/images/arrow.gif)/*tpa=http://www.avgust.com/bitrix/templates/.default/components/bitrix/menu/top_depo_multilevel/images/arrow.gif*/ center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(../../../../../templates/.default/components/bitrix/menu/top_depo_multilevel/images/lock.gif)/*tpa=http://www.avgust.com/bitrix/templates/.default/components/bitrix/menu/top_depo_multilevel/images/lock.gif*/ center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	 
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	/*background:#D6D6D6;
	color:#fff;*/
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:220px;
	background:#fff;
	border:1px solid #DEDEDE;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;

}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
	font-weight: normal;
	font-size: 14px;
	text-transform: none;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	 
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}


#header  #horizontal-multilevel-menu li 
{
	margin: 0 32px 0 0;
}
/* End */

/* Start:/bitrix/templates/august_main/styles.css?1469026343106*/
body, td, .text
{
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}


/* End */
