*{margin:0;padding:0}
body{font:75% Georgia,serif;background:#fff}
table{border-collapse:collapse}
a{color:#3BB3E6}
a:hover{text-decoration:none}
a img{border:none;vertical-align:bottom}

#header{position:relative;padding:0 0 20px 0}
	#header ul{display:none}
	#header .request{display:none}
	#header address{position:absolute;right:0;top:25px;font-size:1.8em;font-style:normal;line-height:100%;color:#747474}
		#header address big{font-size:1.7em;line-height:110%;color:#000}
		
	#content h2{font-size:3em;font-weight:normal;line-height:120%;margin:0 0 15px 0;overflow:hidden;height:1%;color:#000}
	#content h2.title{border-left:10px solid #000;line-height:113%}
		#content h2 span{color:#E6EAEF;background:#000;padding:0 10px 0 0}
		#content h2 big{font-size:1.4em;line-height:130%}
		#content h2 a{font-style:italic}
	#content h3{font-size:2.6em;font-weight:normal;line-height:120%;margin:0 0 15px 0}
		#content h3 span{color:#D4D4D4}
		#content h3 small{font-size:0.5em}
	#content h4{font-size:1.9em;font-weight:normal;font-style:italic;margin:0 0 10px 0}
		#content h4 a{color:#000}
	#content p{font-size:1.1em;line-height:120%;margin:0 0 10px 0}
	#content ul{font-size:1.1em;line-height:120%;margin:0 0 20px 0;padding:0 0 0 20px;list-style:none}
		#content ul li{margin:0 0 10px 0;background:url(../images/marker.gif)/*tpa=http://www.aft.ru/images/marker.gif*/ no-repeat left 9px;padding:0 0 0 15px}
	#content ol{font-size:1.1em;line-height:120%;margin:0 0 20px 0;padding:0 0 0 55px}
		#content ol li{margin:0 0 10px 0}
		#content ol div{font-style:italic;color:#747474}
	#content big{font-size:1.1em;line-height:120%}
	#content address{font-size:1.1em;line-height:120%;margin-bottom:20px;color:#747474}
	#content kbd{font-size:1.2em;font-style:italic;color:#3BB3E6}
	#content abbr{color:#747474}
	#content sup{font-size:0.7em;line-height:100%;vertical-align:text-top}
	#content blockquote{font-size:120%;font-style:italic;padding:15px 35px}
		#content blockquote cite{color:#747474;padding:0 0 0 50px}
	#content caption{font-size:1.4em;font-style:italic;text-align:left;padding:0 0 20px 0}
	#content code{font-size:1.4em;background:green;color:#fff;margin:0 0 40px 0;display:block;padding:10px}
	#content .marked{color:#747474}
	#content .filter{overflow:hidden;width:100%;padding:0 0 10px 0}
		#content .filter ul{list-style-type:none;font-size:1em;margin:0;padding:0}
			#content .filter ul li{float:left;padding:2px 4px;margin:0;background:none}
		#content .filter .type{float:left}
			#content .filter .type li{margin:0 5px 0 0}
		#content .filter .period{float:right;padding:0 20px 0 0}
			#content .filter .period li{margin:0 0 0 5px}
			#content .filter .active{background:#F1F1F1}
				#content .filter li a{float:left;text-decoration:none;color:#747474;background:url(../images/border3.gif)/*tpa=http://www.aft.ru/images/border3.gif*/ repeat-x left bottom}
				#content .filter li a:hover, #content .filter .active a{background:none}
	#content .portfolio .item{overflow:hidden;width:100%;border-top:1px solid #eee;padding:28px 0 15px 0;color:#4C5157}
	#content .portfolio-type-2 .item{border:none;padding:0;color:#4C5157;background:#F8F8F8}
		#content .portfolio .item .photo{float:left;padding:0 20px 10px 20px}
		#content .portfolio-type-2 .item .photo{float:none;padding:0}
		#content .portfolio .item .entry{overflow:hidden;height:1%}
		#content .portfolio-type-2 .item .entry{padding:15px 20px;border-top:1px solid #fff}
		#content .portfolio .item h2 a{color:#000;text-decoration:none;font-style:normal}
		#content .portfolio .item h2 a:hover{text-decoration:underline}
		#content .portfolio .item p{margin:0 0 10px 0;font-family:Arial,Helvetica,sans-serif}
		#content .portfolio .item .date{font-size:0.9em;color:#909090}
	#content .portfolio-type-2 .nav{list-style:none;padding:40px 0 0 0;overflow:hidden;text-align:center;width:100%;max-width:800px}
		#content .portfolio-type-2 .nav li{float:left;width:139px;height:139px;padding:0 20px 20px 0;background:none;margin:0}
	#content .external{background:url(../images/outer-link-bg.gif)/*tpa=http://www.aft.ru/images/outer-link-bg.gif*/ no-repeat left center;padding:0 0 0 15px}
	#content .pager{list-style:none;padding:0 0 0 175px;overflow:hidden;height:1%;font-size:1.9em;color:#4E4E4E}
		#content .pager li{float:left;padding:0 4px 4px 4px;margin:0;background:none;white-space:nowrap}
		#content .pager .blog-page-current{background:#4E4E4E;color:#fff;padding:0 4px 4px 4px}
		#content .pager .prev{margin:0 15px 0 0}
		#content .pager .next{margin:0 0 0 15px}
	#content .portfolio-item{overflow:hidden;width:100%}
		#content .portfolio-item p{color:#4C5157;font-family:Arial,Helvetica,sans-serif}
		#content .portfolio-item .date{font-size:0.9em;color:#909090;margin:0 0 10px 0}
		#content .portfolio-item .layout{overflow:hidden;height:1%}
			#content .portfolio-item .tabs{overflow:hidden;text-align:center;height:1%;list-style:none;padding:20px 0 0 0;margin:0 0 15px 0;font-family:Arial,Helvetica,sans-serif;line-height:23px}
				#content .portfolio-item .tabs li{float:left;margin:0 6px 0 0;width:23px;height:23px;background:#D5D5D5 url(../images/layout-tabs-bg.gif)/*tpa=http://www.aft.ru/images/layout-tabs-bg.gif*/ no-repeat left top;color:#747474;cursor:pointer;padding:0}
				#content .portfolio-item .tabs .current{background-position:left bottom;background-color:#3BB3E6;color:#fff}
		#content .portfolio-item .works{text-align:center;position:relative;float:left}
			#content .portfolio-item .box{display:none;float:left}
			#content .portfolio-item .box.visible{display:block}
				#content .portfolio-item .box img{-ms-interpolation-mode:bicubic}
				#content .portfolio-item .box span{font:italic 1.3em Georgia,serif;color:#747474;display:block}
	#content .new-works{overflow:hidden;height:1%;margin:0 0 20px 0}
		#content .new-works .item{float:left;width:33%}
		#content .new-works .entry{padding:0 30px 0 0}
		#content .new-works img{display:block;margin:0 auto}
		#content .new-works h4{font-size:1.5em;font-style:normal}
		#content .new-works .date{font:0.9em Arial,Helvetica,sans-serif;color:#909090;margin:0 0 5px 0}
		#content .new-works .description{color:#909090;font-style:italic;overflow:visible;height:1%}
	#content .partners{list-style:none;padding:10px 0 0 0;overflow:hidden;height:1%}
		#content .partners li{float:left;margin:0 20px 0 0;padding:0;background:none}
	#content .contacts{padding:0 0 0 24%;color:#3D4349}
		#content .contacts address{font-size:1.6em;font-style:normal;color:#000}
		#content .contacts address .building{color:#747474}
		#content .contacts address .phone-code{font-size:1.4em;color:#747474}
		#content .contacts address .phone{font-size:2em}
		#content .contacts h2{font-size:2.6em}
	#content .contacts label{color:#747474}
		#content .contacts table{font-size:1.1em;position:relative;left:-135px}
		#content .contacts th{width:120px;font-weight:normal;text-align:right;vertical-align:top;padding:0 15px 15px 0}
		#content .contacts td{padding:0 0 15px 0}
		#content .contacts textarea{width:342px;height:154px;padding:1px 4px;font:1em Georgia,serif;border-left:2px inset #404040;border-top:2px inset #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8}
		#content .contacts .inputtext{width:342px;padding:1px 4px;font:1em Georgia,serif;border-left:2px solid #404040;border-top:2px solid #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8}
	#content .map{margin:0 -5.5% 20px -5.6%;position:relative;height:305px}
	#content .blog-posts{padding:0 0 20px 0}
	#content .blog-post{position:relative;border-bottom:1px solid #C3C3C3;padding:22px 38px;height:1%}
	#content .blog-post-active{background:#F5F5F5}
		#content .blog-post h2{font-size:2.8em}
		#content .blog-post .blog-post-tag{background:url(../images/icon-tags.gif)/*tpa=http://www.aft.ru/images/icon-tags.gif*/ no-repeat left 6px;padding:0 0 0 15px}
		#content .blog-post div.blog-post-tag{font-size:1.2em;font-weight:bold;margin:0 0 20px 0}
		#content .blog-post .blog-post-content{color:#747474}
		#content .blog-post .blog-post-info{font-size:1.2em;font-weight:bold;overflow:hidden;width:100%}
		#content .blog-post .blog-post-comments-link{float:left;background:url(../images/icon-blog-footnote2.gif)/*tpa=http://www.aft.ru/images/icon-blog-footnote2.gif*/ no-repeat left 6px;padding:0 30px 0 15px}
		#content .blog-post .blog-author{float:left;background:url(../images/icon-user.gif)/*tpa=http://www.aft.ru/images/icon-user.gif*/ no-repeat left 6px;padding:0 30px 0 15px}
			#content .blog-post .blog-author cite{font-style:normal}
		#content .blog-post .blog-post-date{float:right;color:#8F9296}
		#content .blog-post .blog-post-day{background:url(../images/icon-date-day.gif)/*tpa=http://www.aft.ru/images/icon-date-day.gif*/ no-repeat left 6px;padding:0 20px 0 15px}
		#content .blog-post .blog-post-time{background:url(../images/icon-date-time.gif)/*tpa=http://www.aft.ru/images/icon-date-time.gif*/ no-repeat left 6px;padding:0 0 0 15px}
		#content .blog-post .blog-post-toggle{display:block;width:20px;height:16px;background:url(../images/blog-post-toggle-bg.gif)/*tpa=http://www.aft.ru/images/blog-post-toggle-bg.gif*/ no-repeat left top;position:absolute;left:8px;top:32px;cursor:pointer}
		#content .blog-post-active .blog-post-toggle{background-position:left bottom}
	#content .hidden-text-toggle{color:#3BB3E6;background:url(../images/border2.gif)/*tpa=http://www.aft.ru/images/border2.gif*/ repeat-x left bottom;text-decoration:none}
	#content .hidden-text-toggle:hover{background:none}
	#content .hidden-text-active-toggle{color:#000;background:url(../images/border3.gif)/*tpa=http://www.aft.ru/images/border3.gif*/ repeat-x left bottom;font-style:italic}
	#content .hidden-text-block{color:#747474;padding:0 0 20px 0}
		#content .hidden-text-block p, #content .hidden-text-block ul{margin:0}
	#content .aside-photo-block{position:relative}
	#content .aside-photo{position:absolute;left:-235px;top:5px;width:200px;color:#747474}
		#content .aside-photo img{display:block;margin:0 0 10px 0}
		#content .aside-photo p{font-size:1.2em;font-style:italic;line-height:120%}
	#content .inner-photo-block{padding:0 140px 0 0;margin:0 0 20px 0;overflow:hidden;height:1%}
	#content .inner-photo{float:left;position:relative}
		#content .inner-photo .caption{position:absolute;right:-150px;bottom:10px;font-style:italic;color:#747474;width:140px}
			#content .inner-photo .caption p{margin:0}
	#content .download{padding:8px 0 8px 45px;background-position:left center;background-repeat:no-repeat;line-height:32px;text-decoration:none}
		#content .download span{color:#747474}
	#content .txt{background-image:url(../images/download-icon-txt.gif)/*tpa=http://www.aft.ru/images/download-icon-txt.gif*/}
	#content .zip{background-image:url(../images/download-icon-zip.gif)/*tpa=http://www.aft.ru/images/download-icon-zip.gif*/}
	#content .rar{background-image:url(../images/download-icon-rar.gif)/*tpa=http://www.aft.ru/images/download-icon-rar.gif*/}
	#content .mov{background-image:url(../images/download-icon-mov.gif)/*tpa=http://www.aft.ru/images/download-icon-mov.gif*/}
	#content .ppt{background-image:url(../images/download-icon-ppt.gif)/*tpa=http://www.aft.ru/images/download-icon-ppt.gif*/}
	#content .doc{background-image:url(../images/download-icon-doc.gif)/*tpa=http://www.aft.ru/images/download-icon-doc.gif*/}
	#content .pdf{background-image:url(../images/download-icon-pdf.gif)/*tpa=http://www.aft.ru/images/download-icon-pdf.gif*/}
	#content .remark{color:#F54BAE}
	#content .remark-block{border-top:1px solid #D4D4D4;padding:10px 15px 0 35px;color:#747474;font-style:italic;background:url(../images/remark-bg.gif)/*tpa=http://www.aft.ru/images/remark-bg.gif*/ no-repeat 10px 13px}
	#content .indented-section{padding:0 0 0 35px}
	#content .external-link{color:#747474}
	#content .links-list li{background:url(../images/marker2.gif)/*tpa=http://www.aft.ru/images/marker2.gif*/ no-repeat left 9px;font-style:italic}
	#content .comment-block{background:#F2F2F2 url(../images/marker3.gif)/*tpa=http://www.aft.ru/images/marker3.gif*/ no-repeat 20px 33px;padding:25px 35px;color:#747474;margin:0 0 20px 0;font-style:italic}
		#content .comment-block p{margin:0}
	#content .data1{font-size:1.1em;width:100%;margin:0 0 20px 0}
		#content .data1 th{text-align:left;font-weight:normal;border-left:1px solid #D4D4D4;padding:10px}
		#content .data1 td{border-left:1px solid #D4D4D4;padding:0 10px 10px 10px;color:#747474}
	#content .data2{font-size:1.1em;width:100%;margin:0 0 20px 0}
		#content .data2 th{text-align:left;font-weight:normal;border-bottom:1px solid #D4D4D4;padding:0 10px 10px 10px}
		#content .data2 td{padding:10px 10px 0 10px;color:#747474}
		#content .data2 .sep td{border-bottom:1px solid #D4D4D4;padding:10px}
	#content .block-footnote{display:block;background:#fff url(../images/block-footnote.gif)/*tpa=http://www.aft.ru/images/block-footnote.gif*/ no-repeat left top;width:16px;height:17px;position:absolute;left:17px;bottom:-24px}
	#content .content-block2 .block-footnote{background:url(../images/block2-footnote.gif)/*tpa=http://www.aft.ru/images/block2-footnote.gif*/ no-repeat left top;height:16px;bottom:-16px}
	#content .content-block-top{background:url(../images/border.gif)/*tpa=http://www.aft.ru/images/border.gif*/ repeat-x left top;font-size:0}
		#content .content-block-top div{background:url(../images/block-ltc.gif)/*tpa=http://www.aft.ru/images/block-ltc.gif*/ no-repeat left top}
		#content .content-block-top div div{background:url(../images/block-rtc.gif)/*tpa=http://www.aft.ru/images/block-rtc.gif*/ no-repeat right top;height:8px}
	#content .content-block-bottom{background:url(../images/border.gif)/*tpa=http://www.aft.ru/images/border.gif*/ repeat-x left bottom;font-size:0;margin:0 0 20px 0}
		#content .content-block-bottom div{background:url(../images/block-lbc.gif)/*tpa=http://www.aft.ru/images/block-lbc.gif*/ no-repeat left top}
		#content .content-block-bottom div div{background:url(../images/block-rbc.gif)/*tpa=http://www.aft.ru/images/block-rbc.gif*/ no-repeat right top;height:8px}
	#content .content-block{border-left:1px solid #D7D7D7;border-right:1px solid #D7D7D7;position:relative;padding:5px 11px;height:1%}
	#content .content-block2{background:#F3F3F3 url(../images/block2-ltc.gif)/*tpa=http://www.aft.ru/images/block2-ltc.gif*/ no-repeat left top;margin:0 0 20px 0}
	#content .content-block2-rtc{background:url(../images/block2-rtc.gif)/*tpa=http://www.aft.ru/images/block2-rtc.gif*/ no-repeat right top}
	#content .content-block2-rbc{background:url(../images/block2-rbc.gif)/*tpa=http://www.aft.ru/images/block2-rbc.gif*/ no-repeat right bottom}
	#content .content-block2-lbc{background:url(../images/block2-lbc.gif)/*tpa=http://www.aft.ru/images/block2-lbc.gif*/ no-repeat left bottom;height:1%;padding:10px 20px;position:relative}
	#content .search{width:399px;height:19px;background:url(../images/search-bg.png)/*tpa=http://www.aft.ru/images/search-bg.png*/ no-repeat left top;margin:0 0 20px 0}
		#content .search div{padding:3px 4px 0 15px}
		#content .search .input-text{float:left;width:358px;padding:0 4px;font:0.9em Arial,Helvetica,sans-serif;color:#999;border:none;background:#fff}
		#content .search .input-button{float:right;width:11px;height:11px;border:none;background:url(../images/search-button-bg.gif)/*tpa=http://www.aft.ru/images/search-button-bg.gif*/ no-repeat center top;cursor:pointer;position:relative;top:1px}
	#content .search-res{overflow:hidden;width:100%}
		#content .search-res .item{border-top:1px solid #D4D4D4;margin:-1px 0 0 0;padding:10px 0 15px 0}
		#content .search-res .date{font-weight:bold;color:#8F9296}
		#content .search-res .breadcrumbs{padding:0;overflow:hidden;height:1%;margin:0;color:#8F9296}
			#content .search-res .breadcrumbs li{padding:0;margin:0 5px 0 0;background:none;float:left}
			#content .search-res .breadcrumbs a{margin:0 5px 0 0}
	#content .announcement{padding:10px;display:block;font-size:2em;color:#000;text-decoration:none}
		#content .announcement span{font-size:0.8em;font-style:italic;color:#747474;display:block;padding:5px 0 0 0}

#aside{display:none}

#footer{border-top:1px solid #eee;padding:10px 0 0 0;height:75px;color:#747474;position:relative}
	#footer .content-nav{display:none}
	#footer p{float:left;font-size:1.1em;line-height:140%}
	#footer a{color:#747474}
	#footer .copyright{width:24%;float:left}
	#footer .contacts{float:left}
	#footer form{display:none}