#content ul.breadcrumb-navigation, #header ul.breadcrumb-navigation
{
	padding:14px 0 0;
    margin:0;
	list-style:none;
    font-size: 14px;
}

#content ul.breadcrumb-navigation li, #header ul.breadcrumb-navigation li {
    background: none;
    padding: 0;
    display: inline;
    height: auto;
}

#content ul.breadcrumb-navigation a, #header ul.breadcrumb-navigation a {
    color: #000;
    text-decoration: none;
    background: none;
    font-size: 14px;
}

#content ul.breadcrumb-navigation a:hover, #header ul.breadcrumb-navigation a:hover {
    text-decoration: underline;
}